// ACTIONPANEL___COMMON
//
.actionPanel-l,
.actionPanel-r
	+flex

.actionPanel-title,
.actionPanel-date
	+flex-inline
//
//(ACTIONPANEL___COMMON) END



// ACTIONPANEL
//
//
.actionPanel-title
	max-width: 300px
	margin: -4px 0 0
	+textCrop
	text-align: center
	font-size: em(32)
	font-weight: $weight-light

.actionPanel-l,
.actionPanel-r
	flex: 1 1 0%
	align-items: center

.actionPanel-l
	justify-content: flex-start

.actionPanel-r
	justify-content: flex-end

.actionPanel-date
	line-height: 18px
	text-align: right
	font-size: em(14)
	+clr-gray70
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.actionPanel-title
		max-width: 500px
//
//
//(ACTIONPANEL) END