// ALBUM-TITLE
//
.album-title
	+flex
	justify-content: center
	margin: 0 0 -20px
	font-size: em(42)
	font-weight: $weight-light

	&.typeSmall
		font-size: em(20)
		+clr-gray50
//
//(ALBUM-TITLE) END



// ALBUM-GALLERY-PREVIEW
//
.album-gallery-preview,
.album-gallery-preview-img,
.album-gallery-preview-video
	+flex

.album-gallery-preview
	+flex-c
	+noSelect
	align-items: center
	justify-content: center
	position: relative
	min-height: 500px
	background-color: $clr-base
	cursor: pointer

.album-gallery-preview-img,
.album-gallery-preview-video
	// BECAUSE OF MEDIA LOADER
	z-index: 101
	max-width: 100%
	max-height: 100%

.album-gallery-preview-img
	// BECAUSE OF IE
	flex: 0 0 auto

.album-gallery-preview
	&.typeFullScreen
		width: 100%
		min-height: 0
		background: none

		.album-gallery-preview-img
			max-height: 100vh
//
//(ALBUM-GALLERY-PREVIEW) END



// ALBUM-GALLERY-STRIP
//
.album-gallery-strip-wrap,
.album-gallery-strip-list,
.album-gallery-strip-img
	+flex

.album-gallery-strip-item
	+flex-inline
	flex-shrink: 0

.album-gallery-strip-wrap
	+flex-c
	align-items: flex-start
	overflow: hidden
	position: relative
	padding: 30px 39px 15px
	text-align: left
	border-bottom: 1px solid $clr-gray80
	background-color: $clr-invert

.album-gallery-strip
	position: absolute
	top: 29px
	right: -325px
	width: 1092px

.album-gallery-strip-list
	+noSelect
	overflow: hidden
	width: 100%
	height: 50px
	margin: 0 auto

	&:after,
	&:before
		+flex
		content: ''
		z-index: 2
		position: absolute
		top: 0
		height: 100%
		width: 364px
		background-color: $clr-invert

	&:after
		right: 0

	&:before
		left: 0

.album-gallery-strip-item
	align-items: center
	align-content: center
	justify-content: center
	position: relative
	width: 50px
	height: 50px
	margin: 0 1px
	background-color: $clr-gray94

	&:before
		+flex
		z-index: 1
		position: absolute
		width: 46px
		height: 46px
		border: 1px solid $clr-invert
		outline: 2px solid $clr-wine
		// BECAUSE OF IE
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto

	&.itemActive
		&:before
			content: ''

	&.typeFirst
		margin-left: 365px

.album-gallery-strip-img
	position: relative
	max-width: 100%
	max-height: 100%
	cursor: pointer
//
//(ALBUM-GALLERY-STRIP) END



// ALBUM-ADDITEM
//
.album-addItem-stream-img-wrap,
.album-addItem-stream-l
	+flex

.album-addItem-stream-i
	+flex-inline
	align-items: center
	justify-content: center

.album-addItem-title
	display: inline-block
	position: relative
	margin: 0 10px

	&.itemNonActive
		+opacity(0.6)

.album-addItem-src-title,
.album-addItem-src-counter
	display: inline-block
	position: relative
	vertical-align: top

.album-addItem-src-title
	margin: 0 3px 0 0
	font-weight: $weight-light

.album-addItem-stream
	overflow-y: scroll
	width: calc(100% + 60px)
	max-height: 420px
	margin: 0 0 30px
	background-color: $clr-gray97

.album-addItem-stream-l
	+flex-w
	align-items: flex-start
	overflow: hidden
	position: relative
	max-width: 100%
	min-height: 170px
	margin: 20px 0
	padding: 0 0 0 40px
	text-align: left

	&:before
		+flex
		content: ''
		position: absolute
		width: 770px
		height: 100%
		background-image: url('/img/cap/100x075-Mask.png')

.album-addItem-stream-i
	z-index: 0
	overflow: visible
	position: relative
	margin: 5px
	border: 4px solid $clr-gray94
	background-color: $clr-gray97
	cursor: move

	&:before
		+flex
		z-index: -1
		position: absolute
		top: -2px
		left: -2px
		width: 96px
		height: 71px
		outline: 2px solid $clr-wine

	&:hover
		&:before
			content: ''

	&.itemNonActive
		cursor: auto

		&:before
			content: ''
			top: -4px
			left: -4px
			width: calc(100% + 8px)
			height: calc(100% + 8px)
			+opacity(0.9)
			background-color: $clr-invert

		&:hover
			i
				z-index: -1

		.album-addItem-stream-link
			display: block

	&.typeMove
		&:before
			content: none

.album-addItem-stream-link
	z-index: 1
	+vhAlignAbs
	display: none
	font-size: em(13)
	+clr-wine

	&:hover
		+clr-wine

.album-addItem-stream-img-wrap
	align-items: center
	align-content: center
	justify-content: center
	z-index: -2
	overflow: hidden
	position: relative
	width: 100px
	height: 75px
	margin: -4px

.album-addItem-stream-img
	.itemNonActive
		&:before
			+flex
			content: ''
			position: absolute
			width: 100%
			height: 100%
			+opacity(0.9)
			background: $clr-red

.album-addItem-stream-img-preview
	max-width: 100px
	margin: 0 0 10px
//
//(ALBUM-ADDITEM) END