// [ALBUM-GALLERY-PREVIEW]___MODIFIER
//
.album-gallery-preview
	&.-sectProfile
		width: 1000px
		height: 652px
		margin: 0 -20px
		padding: 10px 10px 0
		background-color: $clr-invert
//
//([ALBUM-GALLERY-PREVIEW]___MODIFIER) END



// [ALBUM-GALLERY-STRIP]___MODIFIER
//
.album-gallery-strip-wrap
	&.-sectProfile
		height: auto
		padding: 40px 39px 0
		border: none
		background: none

.album-gallery-strip
	&.-sectProfile
		position: relative
		top: 0
		right: auto
		left: -885px
		width: 2652px

.album-gallery-strip-list
	&.-sectProfile
		&:after,
		&:before
			width: 885px
			background-color: $clr-gray97

.album-gallery-strip-item
	&.typeFirst
		&.-sectProfile
			margin-left: 885px
//
//([ALBUM-GALLERY-STRIP]___MODIFIER) END



// [ALBUM-ADD-ITEM]___MODIFIER
//
.album-addItem-stream-img-wrap
	&.-sectAlbum-rating
		margin: 0
//
//([ALBUM-ADD-ITEM]___MODIFIER) END



// [ALBUM-TITLE]___MODIFIER]
//
.album-title
	&.typeSmall
		&.-sectWeddingStream
			margin: 0 0 -30px
			padding: 75px 0 0
//
//([ALBUM-TITLE]___MODIFIER) END