// ALBUM-CARD___COMMON
//
.album-card-list,
.album-card-comment-wrap,
.album-card-comment,
.album-card-list-wrap
	+flex

.album-card-list___jsbb
	+flex-inline
//
//(ALBUM-CARD___COMMON) END



// ALBUM-CARD
//
//
.album-card-list-wrap
	/* NOT JUST «FLEX: 1» BECAUSE OF IE11 */
	flex: 1 0 auto
	position: relative
	margin: 0 -12px
	padding: 49px 0 0

.album-card-list___jsbb
	flex: 3 1 0%

.album-card-list
	flex: 0 0 100%
	+flex-w
	align-items: flex-start
	align-content: flex-start
	position: relative
	min-height: 1000px !important
	margin: 0 0 35px

	&.typeBlur
		overflow: hidden
		+box-sizing(content-box)
		padding: 0 0 100px
		margin: 0

		&:after
			content: ''
			display: block
			position: absolute
			right: 0
			bottom: 0
			left: 0
			width: 100%
			height: 100px
			background-image: linear-gradient(rgba($clr-gray97, 0), $clr-gray97)

.album-card
	+flex-c
	position: relative
	width: 220px
	margin: 11px 13px 0

	&.typeBlank
		margin-bottom: 14px
		+border-radius(4px)
		background-color: $clr-gray94

		&.size5x4
			height: 176px

		&.size4x5
			height: 275px

		&.size4x3
			height: 165px

		&.size3x4
			height: 293px

		&.size3x2
			height: 146px

		&.size2x3
			height: 330px

		&.typeWide
			width: 100%
			height: 475px

.album-card-content
	margin: 0 0 14px
	padding: 0 0 3px
	outline: 1px solid $clr-gray85
	+box-shadow(rgba($clr-base, 0.15) 0 2px 6px 0)
	text-align: center
	background-color: $clr-invert

.album-card-img-wrap
	+noSelect
	+flex
	align-items: flex-start
	justify-content: center
	overflow: hidden
	position: relative
	max-height: 500px
	margin: 0 0 3px

	&.typeBlur
		+opacity(0.4)

.album-card-img
	+flex
	max-width: 100%

.album-card-comment-wrap
	margin: 0 0 20px
	text-align: left
	font-size: em(13)

	&:hover
		+opacity(1)

.album-card-comment
	+flex-c
	align-items: flex-start
	max-width: calc(100% - 42px)
	margin: 0 0 0 6px

.album-card-comment-value
	width: 100%
	line-height: 16px
	padding: 2px 0
	+textCrop
	+clr-gray50
	cursor: default

.album-card-comment-wrap
	&:hover
		.album-card-comment-value
			color: $clr-base
//
// ALBUM-CARD___MIX
//
.album-card-content
	.btn-small
		+clr-gray70

	.widget-iconWithText-wrap
		&.link-blue
			.widget-iconLikeNEW
				&.size20
					background-position: 0px 1px !important

			.widget-iconWithText-value
				+clr-gray70

	&:hover
		.btn-small
			+clr-blue

		.widget-iconWithText-wrap
			&.link-blue
				.widget-iconLikeNEW
					&.size20
						background-position: 0px -16px !important

				.widget-iconWithText-value
					+clr-blue
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.album-card-list-wrap
		margin: 0 -20px

	.album-card
		width: 260px
		margin: 11px 20px 0

		&.typeBlank
			&.size5x4
				height: 208px

			&.size4x5
				height: 325px

			&.size4x3
				height: 195px

			&.size3x4
				height: 346px

			&.size3x2
				height: 173px

			&.size2x3
				height: 390px
//
//
//(ALBUM-CARD) END