// ALBUM-COVER___COMMON
//
.album-cover-wrap,
.album-cover-l,
.album-cover-i,
.album-cover-img-wrap,
.album-cover-img-hint,
.album-cover-info
	+flex
//
//(ALBUM-COVER___COMMON) END



// ALBUM-COVER
//
.album-cover-wrap
	position: relative
	margin: 0 -10px
	padding: 47px 0 27px

.album-cover-l
	flex-wrap: wrap

.album-cover-i
	+flex-c
	position: relative
	width: 170px
	height: 180px
	margin: 13px
	+border-radius(7px)
	+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0)

.album-cover-hat
	display: block
	position: absolute
	right: 0
	left: 0
	margin: -30px 0 0
	text-align: center
	font-size: em(20)
	font-weight: $weight-light
	+clr-gray50

.album-cover-img
	+transform(scale(1, 1))
	+transition(transform 0.3s ease-out)
	display: block

.album-cover-img-hint
	align-items: center
	justify-content: center
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	line-height: 24px
	padding: 0 20px
	text-align: center
	font-size: em(24)
	font-weight: $weight-light
	background-color: $clr-green-rgba-70
	+clr-invert

.album-cover-img-wrap
	+noSelect
	// BECAUSE OF IMAGE SCALING OVERFLOW
	z-index: 0
	align-items: flex-start
	justify-content: center
	overflow: hidden
	position: relative
	height: 128px
	+border-radius(7px 7px 0 0)
	border: 1px solid $clr-gray80
	border-bottom: none

	&.typeNew
		.album-cover-img
			+filter(blur(10px))

		&:hover
			.album-cover-img
				+filter(blur(0))

			.album-cover-img-hint
				display: none
				background: none

.album-cover-info
	+flex-c
	flex: 1 1 0%
	align-items: center
	justify-content: space-between
	padding: 6px 0
	border: 1px solid $clr-gray80
	border-top: none
	+border-radius(0 0 6px 6px)
	background-color: $clr-invert
	cursor: default

.album-cover-title
	max-width: 140px
	+textCrop
	white-space: nowrap
	font-size: em(15)
	font-weight: $weight-light
	color: $clr-base

	&:hover
		color: inherit

.album-cover-counter
	font-size: em(12)
	+clr-gray60

.album-cover-i
	&:hover
		&.typeBlank
			.album-cover-img
				+transform(scale(1, 1))

	&.typeLoading
		text-align: center
		+box-shadow(none)

		.album-cover-title
			margin: 0
			white-space: normal

	&.typeLoading
		border: 1px solid $clr-gray80
		background-color: $clr-gray80
		cursor: default

	&.typeShowMore
		align-items: center
		justify-content: center
		padding: 20px
		text-align: center
		+box-shadow(none)
		border: 1px dashed $clr-gray80

.album-cover-i
	&:hover
		.album-cover-img-wrap,
		.album-cover-info
			border-color: $clr-wine

.album-cover-img-wrap
	&.typeCoverAlbum,
	&.typeCoverDefault,
	&.typeCoverLike,
	&.typeCoverPortfolio,
	&.typeCoverProfile,
	&.typeCoverWedding
		.album-cover-img
			+opacity(0.5)
			+filter(grayscale(100%))

		&.typeNew
			.album-cover-img
				+filter(blur(10px))

	&.typeCoverAlbum
		.album-cover-img
			margin: -128px 0 0

	&.typeCoverDefault
		.album-cover-img
			margin: -256px 0 0

	&.typeCoverLike
		.album-cover-img
			margin: -384px 0 0

	&.typeCoverPortfolio
		.album-cover-img
			margin: -768px 0 0

	&.typeCoverProfile
		.album-cover-img
			margin: 0 0 0

	&.typeCoverWedding
		.album-cover-img
			margin: -512px 0 0

	&:hover,
	&:focus
		&:not(.typeNew)
			.album-cover-img
				+transform(scale(1.12, 1.12))
				+transition(transform 0.3s ease-out)

		&.typeCoverAlbum,
		&.typeCoverDefault,
		&.typeCoverLike,
		&.typeCoverPortfolio,
		&.typeCoverProfile,
		&.typeCoverWedding
			.album-cover-img
				+transform(scale(1, 1))
				+opacity(1)
				+filter(none)

.album-cover-l
	position: relative

	&.typeDemo
		&:before
			+flex
			content: ''
			z-index: 1
			position: absolute
			width: 100%
			height: 100%
			background: none

		.album-cover-img-wrap,
		.album-cover-title,
		.album-cover-counter
			background-color: $clr-gray96

		.album-cover-info
			justify-content: space-around

		.album-cover-title,
		.album-cover-counter
			height: 8px

		.album-cover-title
			width: 125px

		.album-cover-counter
			width: 60px
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.album-cover-wrap
		margin: 0 -14px

	.album-cover-i
		margin: 13px 14px
//
//(ADAPTIVE) END
//
//(ALBUM-COVER) END