// APP___COMMON
//
.app-pane,
.app-manage,
.app-balance,
.app-balance-total,
.app-balance-count,
.app-balance-info,
.app-balance-title,
.app-balance-creditCard,
.app-pro,
.app-pro-pane,
.app-pro-pane-step,
.app-pro-pane-status,
.app-pro-card-l,
.app-pro-card-period,
.app-pro-card-bill,
.app-pro-status,
.app-pro-status-bar
	+flex

.app-balance-curr,
.app-balance-creditCard-title,
.app-pro-pane-l,
.app-pro-pane-r,
.app-pro-pane-step-desc,
.app-pro-pane-status-desc,
.app-pro-card
	+flex-inline

.app-balance-hint,
.app-pro-title,
.app-pro-desc,
.app-pro-pane-desc
	// CAUSEOF INLINE AND BLOCK CONTENT
	display: block
	//(CAUSEOF INLINE AND BLOCK CONTENT) END
//
//(APP___COMMON) END



// APP
//
//
.app-manage
	flex: 0 0 100%
	justify-content: space-between
	padding: 0 20px

.app-pane
	+flex-c
	flex-shrink: 0
	margin: 0 0 40px
	border: 1px solid $clr-gray85
	+border-radius(6px)
	+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0)
	background-color: $clr-invert

.app-balance
	+flex-c
	align-items: center
	height: 150px
	margin: 0 0 30px

	&-total
		align-items: center
		height: 94px
		margin: 0 0 5px

	&-count
		height: 100%
		line-height: 82px
		font-size: em(100)
		+clr-green

	&-curr
		width: 100px
		top: 10px
		right: 10px
		margin: -30px -110px 0 10px
		line-height: 20px
		font-size: em(31)
		+clr-green

	&-hint
		align-self: center
		width: 600px
		line-height: 34px
		text-align: center
		font-size: em(22)

	&-info
		align-items: center

	&-title
		align-self: center
		margin: 0 0 20px
		font-size: em(20)
		font-weight: $weight-light
		+clr-gray40

	&-creditCard
		+flex-c
		align-items: center
		width: 290px
		height: 160px
		margin: 30px 0
		padding: 0 10px
		border: 1px solid $clr-gray85
		+border-radius(12px)
		+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0)
		background-image: url('/img/cap/form/form—creditCard.svg')
		background-repeat: no-repeat
		background-position: center

		&-title
			padding: 10px 0
			font-size: em(16)

.app-pro
	flex-direction: column
	justify-content: center
	width: 600px

	&-title
		line-height: 34px
		margin: 0 0 40px
		text-align: center
		font-size: em(22)

	&-pane
		justify-content: center
		height: 240px
		margin: 0 0 60px
		padding: 30px 60px 0
		border: 1px solid $clr-gray85
		+border-radius(6px)
		+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0)
		background-color: $clr-invert

		&-l,
		&-r
			+flex-c
			flex: 0 0 50%

		&-l
			padding: 15px 30px 0 0

		&-r
			padding: 20px 0 0 30px

		&-desc
			line-height: 26px
			font-size: em(18)
			padding: 0 0 20px 20px

	&-pane-step,
	&-pane-status
		align-items: center
		align-content: center

		&-desc
			margin: 0 0 0 10px

	&-pane-step
		margin: 0 0 20px

		&-desc
			font-size: em(20)

		& > *
			+clr-gray60

	&-pane-status
		margin: 0 0 15px

		&-desc
			font-size: em(18)

	&-card-l
		+flex-w
		justify-content: center
		margin: 0 0 60px

	&-card
		+flex-c
		align-items: center
		align-content: center
		justify-content: center
		width: 190px
		height: 120px
		border: 1px solid $clr-gray85
		+border-radius(12px)
		+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0)
		background-color: $clr-invert
		cursor: pointer

		&:nth-child(2)
			margin: 0 14px

		&-period
			margin: 8px 0
			font-size: em(18)

		&-bill
			font-size: em(18)
			+clr-green

	&-status
		overflow: hidden
		height: 14px
		margin: -20px 0 60px
		border: 1px solid $clr-gray85
		+border-radius(14px)
		+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0)
		background-color: $clr-invert

		&-bar
			height: 100%
			background-color: $clr-green

	&-desc
		line-height: 30px
		text-align: center
		font-size: em(16)
		+clr-gray50
//
// APP___ADD
//
.app-pro
	&-title
		&.typeSmall
			line-height: 20px
			margin: 0 0 14px
			font-size: em(20)

		&.itemNonActive
			font-weight: $weight-light
			+clr-gray50

		&.typeRed
			+clr-red

	&-status-bar
		&.typeRed
			background-color: $clr-red

		&.typeGold
			background-color: $clr-gold

	&-pane-step
		&.itemActive > *
			border-color: $clr-wine !important
			color: $clr-wine !important

	&-card
		&.itemActive
			border-color: $clr-green
			+box-shadow(rgba($clr-base, 0.15) 0 1px 6px 0, inset $clr-green 0 0 0 1px)
//
// APP___MIX
//
.ic-status
	&:not(.itemNonSelected) ~ .app-pro-pane-step-desc
		+clr-green

	&:not(.itemNonSelected) ~ .app-pro-pane-status-desc
		+clr-gray60

.widget-iconHelp
	&.size15
		margin-right: 20px !important
//
//
//(APP) END