// AUTH___COMMON
//
.auth-desc,
.auth-social-l,
.auth-login,
.auth-lastVisit
	+flex

.auth-social,
.auth-social-name,
.auth-social-desc,
.auth-social-member,
.auth-login-desc
	+flex-inline
//
// AUTH-SWITCH___COMMON
//
.auth-switch-title,
.auth-switch-l,
.auth-switch
	+flex
//
//(AUTH___COMMON) END



// AUTH
//
//
.auth-desc,
.auth-social-name,
.auth-social-desc,
.auth-lastVisit,
.auth-login-desc
	font-weight: $weight-light

.auth-desc
	line-height: 28px
	margin: 0 0 30px
	text-align: center
	font-size: em(18)

.auth-social-l
	align-items: center
	justify-content: center
	position: relative
	margin: 0 0 45px

.auth-social
	+flex-c
	margin: 0 5px
	cursor: pointer

	&-name
		justify-content: center
		margin: 10px 0 0
		text-align: center
		+clr-gray70

	&-desc
		+flex-w
		justify-content: center
		line-height: 24px
		margin: -25px 0 25px
		font-size: em(18)

	&-member
		margin: 0 5px

.auth-lastVisit
	text-align: center
	font-size: em(18)
	+clr-gray60

.auth-login
	align-items: center
	margin: 0 0 30px
	padding: 30px 40px
	+border-radius(8px)
	font-size: em(16)
	border: 1px solid $clr-gray90

	&-desc
		max-width: 400px
		padding: 0 30px 0 0
		text-align: left
//
// AUTH___ADD
//
.auth-desc
	&.itemNonActive
		+clr-gray60

.auth-social-member
	&.typeSocialAuthFB
		+clr-soc-fb

	&.typeSocialAuthGOO
		+clr-soc-gp

	&.typeSocialAuthML
		+clr-soc-mr

	&.typeSocialAuthODN
		+clr-soc-od

	&.typeSocialAuthVK
		+clr-soc-vk
//
// AUTH___MIX
//
.auth-social
	.ic-social
		&.itemNonActive ~ .auth-social-name
			display: none

	&:hover
		.ic-social
			+opacity(1)

			&.typeSocialAuthFB  ~ .auth-social-name
				+clr-soc-fb

			&.typeSocialAuthGOO ~ .auth-social-name
				+clr-soc-gp

			&.typeSocialAuthML  ~ .auth-social-name
				+clr-soc-mr

			&.typeSocialAuthODN ~ .auth-social-name
				+clr-soc-od

			&.typeSocialAuthVK  ~ .auth-social-name
				+clr-soc-vk
//
// AUTH-SWITCH
//
.auth-switch-title
	margin: 0 0 20px
	font-size: em(20)
	font-weight: $weight-light
	+clr-gray50

.auth-switch-l
	+flex-c
	align-items: center
	width: 440px
	margin: 0 0 80px

.auth-switch
	align-items: center
	justify-content: space-between
	position: relative
	width: 100%
	min-height: 80px
	margin: 0 0 20px
	padding: 11px 35px 11px 11px
	border: 1px solid $clr-gray90
	+border-radius(40px)
	+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0)
	background-color: $clr-invert
	cursor: pointer

	&:nth-last-child(2)
		margin: 0 0 30px

	&:hover
		border-color: $clr-green
		+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0, inset 0 0 0 1px $clr-green)
//
//
//(AUTH) END