// MIXIN
//
=hAlignAbs
	display: block
	position: absolute
	left: 50%
	+transform(translateX(-50%))

=vAlign
	display: block
	position: relative
	top: 50%
	+transform(translateY(-50%))

=vAlignAbs
	display: block
	position: absolute
	top: 50%
	+transform(translateY(-50%))

=vhAlign
	display: block
	position: relative
	top: 50%
	left: 50%
	+transform(translate(-50%, -50%))

=textSmooth
	font-smooth: always
	font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

=btnClick
	&:active
		top: 1px

=noSelect
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	-webkit-touch-callout: none

=flex
	display: flex
	display: -ms-flexbox
	display: -webkit-flex

=flex-inline
	display: inline-flex
	display: -ms-inline-flexbox
	display: -webkit-inline-flex

=flex-c
	flex-direction: column
	-ms-flex-direction: column

=flex-w
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
//
//(MIXINS) END



// ANIMATION
//
=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@-o-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

=animation($value)
	-webkit-animation: $value
	-moz-animation: $value
	-ms-animation: $value
	-o-animation: $value
	animation: $value

=animation-play-state($value)
	-webkit-animation-play-state: $value
	-moz-animation-play-state: $value
	-ms-animation-play-state: $value
	-o-animation-play-state: $value
	animation-play-state: $value

+keyframes(spin)
	100%
		+transform(translate3d(0, 0, 1000px) rotateY(360deg))
//
//(ANIMATION) END



// VAR
//
$clr-base:    #000000
$clr-gray60:  #999999
$clr-gray70:  #b3b3b3
$clr-gray80:  #cccccc
$clr-gray90:  #e6e6e6
$clr-gray97:  #f7f7f7
$clr-green:   #29cc65
$clr-green75: #13bf52
$clr-invert:  #ffffff
$clr-soc-fb:  #3a5897
$clr-soc-gp:  #dd4a35
$clr-soc-mr:  #164889
$clr-soc-od:  #ec7f27
$clr-soc-vk:  #4b739b

$weight-light: 300
$weight-base:  400

=clr-gray60
	+textSmooth
	color: $clr-gray60

=clr-gray70
	+textSmooth
	color: $clr-gray70

=clr-gray80
	+textSmooth
	color: $clr-gray80

=clr-gray90
	+textSmooth
	color: $clr-gray90

=clr-green
	+textSmooth
	color: $clr-green

=clr-green75
	+textSmooth
	color: $clr-green75

=clr-invert
	+textSmooth
	color: $clr-invert

=clr-soc-fb
	+textSmooth
	color: $clr-soc-fb

=clr-soc-gp
	+textSmooth
	color: $clr-soc-gp

=clr-soc-mr
	+textSmooth
	color: $clr-soc-mr

=clr-soc-od
	+textSmooth
	color: $clr-soc-od

=clr-soc-vk
	+textSmooth
	color: $clr-soc-vk

@function em($value, $context: 16)
	@return #{$value / $context}em
//
//(VAR) END



// AUTH___INTEGRATION
//
.auth___integration-wrap
	*,
	*:after
		margin: 0
		padding: 0
		+box-sizing(border-box)
		outline: none

		&:focus
			outline: none

	*:after
		+flex

	ul
		list-style: none

	li
		background: none

[role="button"]
	+noSelect
//
//(AUTH___INTEGRATION) END



// GLOBAL
//
body
	// BECAUSEOF SCROLL JUMPING
	overflow-x: hidden
	width: 100vw
	height: 100%
	min-width: 1000px
	font-size: 1em
	font-weight: $weight-base

	&.itemNonScrollable
		overflow: hidden
//
//(GLOBAL) END



// AUTH___COMMON
//
.auth-desc,
.auth-social-l,
.auth-login,
.auth-lastVisit
	+flex

.auth-social,
.auth-social-name,
.auth-social-desc,
.auth-social-member,
.auth-login-desc
	+flex-inline
//
//(AUTH___COMMON) END



// AUTH
//
.auth-desc,
.auth-social-name,
.auth-social-desc,
.auth-lastVisit,
.auth-login-desc
	font-weight: $weight-light

.auth-desc
	line-height: 28px
	margin: 0 0 30px
	text-align: center
	font-size: em(18)

	&.itemNonActive
		+clr-gray60

.auth-social-l
	align-items: center
	justify-content: center
	position: relative
	margin: 0 0 45px

.auth-social
	+flex-c
	margin: 0 5px
	cursor: pointer

.auth-social-name
	justify-content: center
	margin: 10px 0 0
	text-align: center
	+clr-gray70

.auth-social
	.ic-social
		&.itemNonActive ~ .auth-social-name
			display: none

	&:hover
		.ic-social
			+opacity(1)

			&.typeSocialAuthFB  ~ .auth-social-name
				+clr-soc-fb

			&.typeSocialAuthGOO ~ .auth-social-name
				+clr-soc-gp

			&.typeSocialAuthML  ~ .auth-social-name
				+clr-soc-mr

			&.typeSocialAuthODN ~ .auth-social-name
				+clr-soc-od

			&.typeSocialAuthVK  ~ .auth-social-name
				+clr-soc-vk

.auth-social-desc
	+flex-w
	justify-content: center
	line-height: 24px
	margin: -25px 0 25px
	font-size: em(18)

.auth-social-member
	margin: 0 5px

	&.typeSocialAuthFB
		+clr-soc-fb

	&.typeSocialAuthGOO
		+clr-soc-gp

	&.typeSocialAuthML
		+clr-soc-mr

	&.typeSocialAuthODN
		+clr-soc-od

	&.typeSocialAuthVK
		+clr-soc-vk

.auth-lastVisit
	text-align: center
	font-size: em(18)
	+clr-gray60

.auth-login
	align-items: center
	margin: 0 0 30px
	padding: 30px 40px
	+border-radius(8px)
	font-size: em(16)
	border: 1px solid $clr-gray90

.auth-login-desc
	max-width: 400px
	padding: 0 30px 0 0
	text-align: left
//
//(AUTH) END



// IC-CLOSE
//
.ic-close
	position: absolute
	top: 0
	right: 18px
	bottom: 0
	margin: auto
	background-size: cover

	&.size20
		width: 20px
		height: 20px
		background-position: 0px 0px

		&:hover
			background-position: 0px -20px
//
//(IC-CLOSE) END



// MODAL
//
.modal-wrap,
.modal,
.modal-title
	+flex

.modal
	+flex-c
	flex: 0 0 auto
	align-items: center
	align-content: center
	z-index: 9998
	min-width: 380px
	margin: auto
	padding: 0 30px 30px
	+border-radius(8px)
	+box-shadow(rgba($clr-base, 0.3) 0 2px 24px 0)
	background-color: $clr-invert

	&-wrap
		+flex-c
		align-items: flex-start
		align-content: flex-start
		z-index: 9998
		overflow: auto
		position: fixed
		top: 0
		width: 100%
		height: 100%
		padding: 20px
		background-color: rgba($clr-base, 0.7)
		-webkit-overflow-scrolling: touch

	&-title
		align-items: center
		align-content: center
		justify-content: center
		position: relative
		width: calc(100% + 60px)
		height: 50px
		margin: 0 -30px 25px
		padding: 0 0 3px
		+noSelect
		font-size: em(20)
		font-weight: $weight-light
		+border-radius(8px 8px 0 0)
		background-color: $clr-gray97
		+clr-gray60
//
//(MODAL) END



// IC___COMMON
//
.ic-social-wrap
	+flex

.ic-social
	+flex-inline
	flex-shrink: 0
	background-size: cover
	cursor: pointer
//
//(IC___COMMON) END



// IC-SOCIAL
//
.ic-social
	&.size70
		width: 70px
		height: 70px
		margin: 0 10px

		&.typeSocialAuthFB
			background-position: 0px -210px

		&.typeSocialAuthGOO
			background-position: 0px -140px

		&.typeSocialAuthTW
			background-position: 0px -700px

		&.typeSocialAuthVK
			background-position: 0px -70px

	&.size120
		width: 120px
		height: 120px
		+opacity(0.9)

		&.typeSocialAuthFB
			background-position: 0px -360px

			&:hover
				+clr-soc-fb

		&.typeSocialAuthGOO
			background-position: 0px -240px

			&:hover
				+clr-soc-gp

		&.typeSocialAuthML
			background-position: 0px -480px

			&:hover
				+clr-soc-mr

		&.typeSocialAuthODN
			&:hover
				+clr-soc-od

		&.typeSocialAuthTW
			background-position: 0px -1200px

		&.typeSocialAuthVK
			background-position: 0px -120px

			&:hover
				+clr-soc-vk

		&.itemNonActive
			+opacity(1)
			+clr-invert

			&.typeSocialAuthFB
				background-position: 0px -960px

				&:hover
					background-position: 0px -360px

			&.typeSocialAuthGOO
				background-position: 0px -840px

				&:hover
					background-position: 0px -240px

			&.typeSocialAuthML
				background-position: 0px -1080px

				&:hover
					background-position: 0px -480px

			&.typeSocialAuthODN
				background-position: 0px -600px

				&:hover
					background-position: 0px 0px

			&.typeSocialAuthVK
				background-position: 0px -720px

				&:hover
					background-position: 0px -120px

	&.size160
		width: 160px
		height: 160px
		cursor: default

		&.typeSocialAuthFB
			background-position: 0px -480px

		&.typeSocialAuthGOO
			background-position: 0px -320px

		&.typeSocialAuthML
			background-position: 0px -640px

		&.typeSocialAuthVK
			background-position: 0px -160px
//
//(IC-SOCIAL) END



// LOADER
//
.widget-loader-wrap
	z-index: 9999
	text-align: center

.widget-loader
	display: block
	position: relative
	width: 40px
	height: 56px
	margin: auto
	+animation(spin 0.7s infinite)
	//+animation-play-state(paused)
	+animation-play-state(running)
	background-size: 50px
	background-position: -5px -5px

.widget-loader-wrap
	&.size40
		+vhAlign
		z-index: 100

		.widget-loader
			width: 40px
			height: 57px
			background-size: 50px
			background-position: -5px -5px

		&.typeGray
			.widget-loader
				background-position: -5px -138px
//
//(LOADER) END



// LOADERNEW
//
.widget-loaderNEW-wrap
	+flex-inline
	align-items: center
	z-index: 9999

.widget-loaderNEW
	// BECAUSE OF MEDIA LOADER
	z-index: 100
	+animation(spin 0.7s infinite)
	+animation-play-state(running)
	background-position: -5px -5px

.widget-loaderNEW-wrap
	&.size17
		.widget-loaderNEW
			width: 17px
			height: 24px
			background-size: 21px
			background-position: -2px -2px

.btn-big,
.btn-base
	.btn-value + .widget-loaderNEW-wrap
		position: absolute
		top: 0
		bottom: 0

.btn-big
	.btn-value + .widget-loaderNEW-wrap
		&.size17
			left: 20px

.btn-base
	.btn-value + .widget-loaderNEW-wrap
		&.size17
			left: 15px
//
//(LOADERNEW) END



// BTN___COMMON
//
.btn-base,
.btn-big
	+flex-inline
//
//(BTN___COMMON) END



//BTN___SUMMARY
//
.btn-base,
.btn-big
	+btnClick
	align-items: center
	justify-content: center
	position: relative
	border: 1px solid transparent
	cursor: pointer

	&:after
		z-index: 1
		content: ''
		position: absolute
		top: -1px
		right: -1px
		bottom: -1px
		left: -1px
		+border-radius(40px)
		border: 2px solid transparent

.btn-value
	display: inline-block
	padding: 0 0 2px

.btn-value
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
//
//(BTN___SUMMARY) END



// BTN-BASE
//
.btn-base
	/* NOT MIN-HEIGHT BECAUSE OF IE */
	height: 40px
	line-height: 36px
	padding: 0 25px
	+border-radius(40px)
	font-size: em(20) !important
//
//(BTN-BASE) END



// BTN-BIG
//
.btn-big
	/* NOT MIN-HEIGHT BECAUSE OF IE */
	height: 50px
	min-width: 300px
	max-width: 420px
	padding: 0 40px
	+border-radius(50px)
	font-size: em(22) !important
//
//(BTN-BIG) END



// BTN-...-F
//
// BTN-GRAY-F
//
.btn-gray-f
	background-color: $clr-gray80
	+clr-invert
	cursor: default
//
//(BTN-GRAY-F) END

// BTN-GREEN-F
//
.btn-green-f
	background-color: $clr-green
	+clr-invert

	&:hover
		background-color: $clr-green75
//
//(BTN-GREEN-F) END
//
//(BTN-...-F) END



// BTN-...-F___MIX
//
.btn-big
	&.btn-gray-f
		padding: 0 60px
//
//(BTN-...-F___MIX) END