// [AVATAR-GROUP]___MODIFIER
//
.widget-avatar-group
	&.size30
		&.-sectGallery
			margin-left: -7px
//
//([AVATAR-GROUP]___MODIFIER) END



// [AVATAR-WRAP]___MODIFIER
//
.widget-avatar-wrap
	&.size30
		&.-sectGallery
			margin: 6px 0 0 0

			.widget-avatar-img-link
				&:before
					+flex
					content: ''
					position: absolute
					top: 0
					left: -9px
					bottom: 0
					width: 4px
					height: 100%
					+border-radius(4px)
					+transition(all 1s ease)
					cursor: default

				&.typeParent
					&:before
						+transition(all 0s ease)
						background-color: $clr-wine

		&.-subSectAlbumNotice
			margin: -3px 0

		&.-subSectAlbumManage,
		&.-subSectAlbumManage-search
			// BECAUSE OF POPOVER OVERFLOW
			z-index: auto
			width: calc(100% + 40px)
			margin: 0 -20px
			padding: 6px 20px
			cursor: pointer

			&:hover
				background-color: $clr-sky

		&.-subSectAlbumManage-search
			width: calc(100% + 30px)
			margin: 0 -15px

	&.size50Big
		&.-sectGallery
			margin: -5px 0 0
//
//([AVATAR-WRAP]___MODIFIER) END



// [AVATAR-IMG]___MODIFIER
//
.widget-avatar-group
	&.size30
		&.-subSectPopover
			.widget-avatar-img
				border: 1px solid $clr-gray-rbga-40

		.widget-avatar-wrap
			&:first-child
				display: none

			&:last-child
				display: inline-block

		&.itemActive
			.widget-avatar-wrap
				&:first-child
					display: inline-block

				&:last-child
					display: none
//
//([AVATAR-IMG]___MODIFIER) END



// [AVATAR-INFO]___MODIFIER
//
.widget-avatar-wrap
	&.size30
		&.-subSectAlbumNotice
			.widget-avatar-info
				margin: 0
				padding: 0 0 0 5px
				font-size: em(17)
//
//([AVATAR-INFO]___MODIFIER) END



// [AVATAR-NAME]___MODIFIER
//
.widget-avatar-wrap
	&.size30
		&.-subSectAlbumManage-search
			.widget-avatar-name
				// FOR THREE LINE OVEFLOW
				max-height: 54px
				white-space: normal
				//(FOR THREE LINE OVEFLOW) END
//
//([AVATAR-NAME]___MODIFIER) END