// AVATAR
//
//
.widget-avatar-group
	+flex-inline

.widget-avatar-wrap
	+flex-inline
	flex: 0 0 auto
	align-items: center
	z-index: 3
	position: relative

.widget-avatar-img-link
	+flex
	flex-shrink: 0
	align-self: flex-start

.widget-avatar-img
	display: block
	// BECAUSE OF «SPAN» BLANK STATE
	padding: 2px
	+border-radius(50%)
	border: 1px solid $clr-gray90
	background-color: $clr-invert

.widget-avatar-info
	+flex
	+flex-c
	align-items: flex-start
	justify-content: center
	margin: 0 0 0 10px
	text-align: left

.widget-avatar-role,
.widget-avatar-roleAndRating
	+clr-gray50

.widget-avatar-roleAndRating
	+flex

	.widget-avatar-role
		margin: 0 10px 0 0

.widget-avatar-wrap
	&.itemNonActive
		.widget-avatar-img-link,
		.widget-avatar-info
			+opacity(0.4)

	&.typePRO
		.widget-avatar-img
			border: 1px solid $clr-gold

	&.size30
		.widget-avatar-img-link,
		.widget-avatar-img
			width: 36px
			height: 36px

		.widget-avatar-name
			line-height: 18px
			font-size: em(15)

		.widget-avatar-role
			line-height: 16px

	&.size50,
	&.size50Big
		.widget-avatar-img-link,
		.widget-avatar-img
			width: 56px
			height: 56px

		.widget-avatar-name
			line-height: 20px
			font-size: em(18)

		.widget-avatar-role
			line-height: 20px

		&.typeVertical
			.widget-avatar-roleAndRating
				+flex-c

			.widget-avatar-info
				margin: 10px

			.widget-avatar-name
				line-height: 25px
				margin: 0 0 6px

		&.typeSeparated
			height: 69px
			padding: 6px 0
			border-bottom: 1px solid $clr-gray90

			&:last-child
				border-color: $clr-invert

	&.size50Big
		.widget-avatar-name
			line-height: 28px
			font-size: em(24)
			color: $clr-base

		&.typeCleanState
			.widget-avatar-info
				&:before,
				&:after
					+flex
					content: ''
					position: relative
					width: 200px
					height: 8px
					margin: 4px 0
					background-color: $clr-gray96

				&:after
					width: 120px

	&.size30,
	&.size50,
	&.size50Big
		.widget-avatar-role
			font-size: em(14)

	&.size100
		.widget-avatar-img-link,
		.widget-avatar-img
			width: 110px
			height: 110px

		.widget-avatar-img
			padding: 4px

	&.textSize130-170,
	&.textSize145,
	&.textSize245,
	&.textSize250,
	&.textSize295,
	&.textSize345-490
		.widget-avatar-name,
		.widget-avatar-role
			+textCrop
			white-space: nowrap

	&.textSize130-170
		.widget-avatar-name,
		.widget-avatar-role
			max-width: 130px

	&.textSize145
		.widget-avatar-name,
		.widget-avatar-role
			max-width: 145px

	&.textSize160,
	&.textSize160-210
		.widget-avatar-name,
		.widget-avatar-role
			+textCrop
			max-width: 160px

	&.textSize170
		.widget-avatar-name,
		.widget-avatar-role
			+textCrop
			max-width: 170px

		.widget-avatar-name
			font-size: em(18)

	&.textSize245
		.widget-avatar-name,
		.widget-avatar-role
			max-width: 245px

	&.textSize250
		.widget-avatar-name,
		.widget-avatar-role
			max-width: 250px

	&.textSize295
		.widget-avatar-name,
		.widget-avatar-role
			max-width: 295px

	&.textSize345-490
		.widget-avatar-name,
		.widget-avatar-roleAndRating
			max-width: 345px

		.widget-avatar-role
			max-width: 172px

.widget-avatar-group
	.widget-avatar-img
		background-color: transparent

	&.size30
		padding: 3px 0

		.widget-avatar-wrap
			margin: 0 2px
//
// AVATAR___ADD
//
.widget-avatar-wrap
	&.typeBlack
		.widget-avatar-name
			color: $clr-base

	&.typeBlank
		font-weight: $weight-light
		+clr-gray50
		cursor: default
//
// AVATAR___MIX
//
.album-card-comment-wrap
	.widget-avatar-wrap
		+opacity(0.5)
		+filter(grayscale(100%))

	&:hover
		.widget-avatar-wrap
			+opacity(1)
			+filter(grayscale(0))

.link-blue-f
	.widget-avatar-wrap
		left: -3px
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.widget-avatar-wrap
		&.textSize130-170
			.widget-avatar-name,
			.widget-avatar-role
				max-width: 170px

		&.textSize160-210
			.widget-avatar-name,
			.widget-avatar-role
				max-width: 210px

		&.textSize345-490
			.widget-avatar-name,
			.widget-avatar-roleAndRating
				max-width: 490px

			.widget-avatar-role
				max-width: 245px
//
//
//(AVATAR) END