// HTMLBASE
//
body,
html
	height: 100%

body
	+flex
	flex-direction: column
	overflow-x: scroll
	// BECAUSEOF SCROLL JUMPING
	width: 100vw
	min-width: 1000px
	font-size: 1em
	font-family: 'mp', sans-serif
	//font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
	font-weight: $weight-base
	background-color: $clr-gray97

	&.itemNonScrollable
		overflow: hidden

*,
*:after,
*:before
	margin: 0
	padding: 0
	+box-sizing(border-box)
	outline: none

	&:focus
		outline: none

*:before
	+flex
	flex-shrink: 0

//*
//	+flex
//	position: relative
//	user-select: none
//	-moz-user-select: none
//	-webkit-user-select: none
//	-webkit-overflow-scrolling: touch
//	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
//	border: none

[role="button"]
	+noSelect

ul
	list-style: none

form
	width: 100%

input,
select,
textarea
	// CAUSE OF RESET BROWSER «DISABLE STATE» VIEW
	font-family: 'mp', sans-serif
	color: #000000
	// CAUSE OF RESET BROWSER «DISABLE STATE» VIEW

a
	text-decoration: none
	+clr-blue

	&:hover
		color: $clr-blue75

::-moz-selection
	text-shadow: none
	background-color: #b3d4fc

::selection
	text-shadow: none
	background-color: #b3d4fc

hr
	display: block
	width: 100%
	height: 0
	border: 0
	border-top: 1px solid $clr-gray80
//
//(HTMLBASE) END



// GLOBALRESET
//
.itemNonVisible
	z-index: -1 !important
	+opacity(0)

.itemNonDimension
	display: none !important
//
//(GLOBALRESET) END



// DEMOPAGE
//
.links-center
	display: block
	position: relative
	width: 300px
	margin: 2px auto 10px
	text-align: center
	border: 1px solid #ededed
	color: #000000

.links-center-item
	display: inline-block
	position: relative
	width: 40px
	line-height: 30px
	margin: 0 10px
//
//(DEMOPAGE) END



//(MARGIN-T-X(X), MARGIN-B-X(X), MARGIN-TB-X(X))
//
@for $i from 0 through 12
	.margin-t-#{$i * 5}
		margin-top: #{$i * 5}px !important

@for $i from 0 through 12
	.margin-b-#{$i * 5}
		margin-bottom: #{$i * 5}px !important

@for $i from 0 through 12
	.margin-tb-#{$i * 5}
		margin-top: #{$i * 5}px !important
		margin-bottom: #{$i * 5}px !important
//
//(MARGIN-T-X(X), MARGIN-B-X(X), MARGIN-TB-X(X)) END



// WIDTH-XX(X)
//
@for $i from 1 through 99
	.width-#{$i * 10}
		width: #{$i * 10}px !important

@for $i from 1 through 99
	.widthFlex-#{$i * 10}
		flex: 0 0 #{$i * 10}px !important
//
// WIDTH-XX(X) END



// PULL-XX(X)
//
@for $i from 1 through 44
	.pull-#{$i * 10}
		margin-left: #{$i * 10}px !important
//
// PULL-XX(X) END