// BTN___COMMON
//
.btn-group
	+flex

.btn-big,
.btn-base,
.btn-small,
.btn-link-small,
.btn-value-icon
	+flex-inline
//
//(BTN___COMMON) END



//BTN___SUMMARY
//
.btn-group
	+flex-w
	justify-content: center

.btn-big,
.btn-base,
.btn-small
	+btnClick
	flex-shrink: 0
	align-items: center
	justify-content: center
	position: relative
	border: 1px solid transparent
	cursor: pointer

	&:after
		z-index: 1
		content: ''
		position: absolute
		top: -1px
		right: -1px
		bottom: -1px
		left: -1px
		+border-radius(40px)
		border: 2px solid transparent

	&.btn-wide
		width: 100%

	&.flexCenter
		align-self: center

	&.itemNonActive
		cursor: default

		.btn-value,
		.btn-value-icon
			+opacity(0.6)

		&:hover
			&:after
				display: none

.btn-value,
.btn-value-icon
	padding: 0 0 2px

.btn-value
	display: inline-block
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.btn-group
	.btn-big,
	.btn-base,
	.btn-small,
	.btn-link-small
		margin-right: 5px
		margin-left: 5px

	& > *
		&:first-child
			margin-left: 0

		&:last-child
			margin-right: 0
//
//(BTN___SUMMARY) END



// BTN-SMALL
//
.btn-small,
.btn-link-small
	/* NOT BASE-HEIGHT BECAUSE OF IE */
	height: 34px
	line-height: 32px
	padding: 0 18px
	+border-radius(34px)
	font-size: em(16) !important

.btn-small
	.btn-value-icon
		margin: 0 0 0 10px

.btn-link-small
	align-items: center
	position: relative
	padding: 0

	.btn-value-icon
		&.typeOval
			align-items: center
			padding: 0

			&:before
				+flex
				content: ''
				position: relative
				width: 36px
				height: 24px
				margin: 0 10px 0 0
				+border-radius(24px)

	&.link-blue
		.btn-value-icon
			&.typeOval
				&:before
					background-color: $clr-sky

		&:hover
			.btn-value-icon
				&.typeOval
					&:before
						background-color: $clr-sky98

	&.link-green
		.btn-value-icon
			&.typeOval
				&:before
					background-color: $clr-green

		&:hover
			.btn-value-icon
				&.typeOval
					&:before
						background-color: $clr-green75
//
//(BTN-SMALL) END



// BTN-BASE
//
.btn-base
	/* NOT MIN-HEIGHT BECAUSE OF IE */
	height: 40px
	line-height: 38px
	padding: 0 25px
	+border-radius(40px)
	font-size: em(20) !important
//
//(BTN-BASE) END



// BTN-BIG
//
//
.btn-big
	/* NOT MIN-HEIGHT BECAUSE OF IE */
	height: 50px
	line-height: 48px
	min-width: 300px
	max-width: 420px
	padding: 0 40px
	+border-radius(50px)
	font-size: em(22) !important
//
// BTN-BIG___ADD
//
.btn-big
	&.btn-gray-f
		padding: 0 60px
//
//
//(BTN-BIG) END



// BTN-...
//
//
// BTN-GREEN
//
.btn-green
	border: 1px solid $clr-green
	+clr-green

	&:hover
		+clr-green75

		&:after
			display: block
			border-color: $clr-green75
//
// BTN-GREEN-F
//
.btn-green-f
	background-color: $clr-green
	+clr-invert

	&:hover
		background-color: $clr-green75

	&.itemNonActive
		&:hover
			background-color: $clr-green
//
// BTN-RED
//
.btn-red
	border: 1px solid $clr-red
	+clr-red

	&:hover
		+clr-red95

		&:after
			display: block
			border-color: $clr-red95
//
// BTN-RED-F
//
.btn-red-f
	background-color: $clr-red
	+clr-invert

	&:hover
		background-color: $clr-red95

	&.itemNonActive
		&:hover
			background-color: $clr-red
//
// BTN-SKY
//
.btn-sky
	border: 1px solid $clr-blue
	+clr-blue

	&:hover
		+clr-blue75

		&:after
			display: block
			border-color: $clr-blue75
//
// BTN-SKY-F
//
.btn-sky-f
	background-color: $clr-sky
	+clr-blue

	&:hover
		background-color: $clr-sky98
		+clr-blue75

	&.itemNonActive
		&:hover
			background-color: $clr-sky
//
// BTN-WHITE
//
.btn-white
	border: 1px solid $clr-invert
	+clr-invert

	&:hover
		&:after
			display: block
			border-color: $clr-invert
//
// BTN-GRAY-F
//
.btn-gray-f
	border-color: transparent
	background-color: $clr-gray80
	+clr-invert
	cursor: default

	&:hover
		border-color: transparent
		background-color: $clr-gray80

		&:after
			display: none

.btn-base,
.btn-small
	&.btn-gray-f
		.btn-value
			z-index: -1
//
//
//(BTN-...) END