// [BTN-SMALL]___MODIFIER
//
.btn-small
	&.-sectReg
		align-self: flex-start
		margin: 0 0 10px

	&.-sectGallery
		margin: 0 0 0 -7px

.btn-group
	&.-subSectSidebarPopover
		width: 100%
		margin: 10px 0 5px

		.btn-small
			padding: 0 14px
//
//([BTN-SMALL]___MODIFIER) END