.categories-item
	width: 460px
	float: left
	margin: 0 20px 20px 0

.categories-item-link
	display: block
	padding: 15px 0
	position: relative
	+border-radius(10px)
	+box-shadow(rgba($clr-base, 0.1) 0 0 10px)
	color: $clr-base
	font-size: em(20)
	font-weight: $weight-light
	text-align: center
	text-decoration: none
	background-color: $clr-invert

	&:hover
		background-color: $clr-green
		+clr-invert

.categories-item
	&.active
		.categories-item-link
			background-color: $clr-green
			+clr-invert

.categories-item-performer
	position: absolute
	top: 50%
	right: 10px
	margin-top: -20px
	+border-radius(50%)
	+box-shadow(0 0 0 2px $clr-invert)

.categories-item-favorites
	height: 28px
	line-height: 28px
	padding: 0 15px 0 44px
	border: 1px solid $clr-gray90
	position: absolute
	top: 50%
	right: 20px
	margin-top: -15px
	font-size: em(12)
	+border-radius(3px)
	+clr-green

.categories-item-favorites-icon
	display: block
	width: 20px
	height: 20px
	position: absolute
	left: 20px
	top: 50%
	margin-top: -11px
	background-position: -10px -90px

.categories-item-link
	&:hover
		.categories-item-favorites
			border-color: $clr-invert
			+clr-invert

			.categories-item-favorites-icon
				background-position: -10px -50px

.categories-item
	&.active
		.categories-item-favorites
			border-color: $clr-invert
			+clr-invert

			.categories-item-favorites-icon
				background-position: -10px -50px