// VAR
//
$clr-base:    #000000
$clr-blue:    #31c1cc
$clr-blue75:  #1bb4bf
$clr-gold:    #ffb30f
$clr-gray40:  #666666
$clr-gray50:  #7f7f7f
$clr-gray60:  #999999
$clr-gray70:  #b3b3b3
$clr-gray80:  #cccccc
$clr-gray85:  #d9d9d9
$clr-gray90:  #e6e6e6
$clr-gray94:  #f0f0f0
$clr-gray96:  #f5f5f5
$clr-gray97:  #f7f7f7
$clr-gray100: #f2f2f2
$clr-green:   #29cc65
$clr-green75: #13bf52
$clr-green94: #01ef8d
$clr-invert:  #ffffff
$clr-pink:    #ffd7e5
$clr-pink89:  #e21e61
$clr-red:     #ff5b32
$clr-red95:   #f24e24
$clr-sky:     #ddfdff
$clr-sky98:   #c8f7fa
$clr-soc-fb:  #3a5897
$clr-soc-gp:  #dd4a35
$clr-soc-mr:  #164889
$clr-soc-od:  #ec7f27
$clr-soc-vk:  #4b739b
$clr-wine:    #e02463

$weight-light:  300
$weight-base:   400
$weight-medium: 600

$clr-base-rbga-20:  rgba($clr-base, 0.2)
$clr-base-rbga-30:  rgba($clr-base, 0.3)
$clr-base-rbga-60:  rgba($clr-base, 0.6)
$clr-gray-rbga-40:  rgba(230, 230, 230, 0.4)
$clr-gray-rbga-90:  rgba(51, 51, 51, 0.9)
$clr-green-rgba-70: rgba(19, 191, 82, 0.7)

=clr-blue
	+textSmooth
	color: $clr-blue

=clr-blue75
	+textSmooth
	color: $clr-blue75

=clr-gold
	+textSmooth
	color: $clr-gold

=clr-gray40
	+textSmooth
	color: $clr-gray40

=clr-gray50
	+textSmooth
	color: $clr-gray50

=clr-gray60
	+textSmooth
	color: $clr-gray60

=clr-gray50
	+textSmooth
	color: $clr-gray50

=clr-gray70
	+textSmooth
	color: $clr-gray70

=clr-gray80
	+textSmooth
	color: $clr-gray80

=clr-gray90
	+textSmooth
	color: $clr-gray90

=clr-green
	+textSmooth
	color: $clr-green

=clr-green75
	+textSmooth
	color: $clr-green75

=clr-invert
	+textSmooth
	color: $clr-invert

=clr-red
	+textSmooth
	color: $clr-red

=clr-red95
	+textSmooth
	color: $clr-red95

=clr-soc-fb
	+textSmooth
	color: $clr-soc-fb

=clr-soc-gp
	+textSmooth
	color: $clr-soc-gp

=clr-soc-mr
	+textSmooth
	color: $clr-soc-mr

=clr-soc-od
	+textSmooth
	color: $clr-soc-od

=clr-soc-vk
	+textSmooth
	color: $clr-soc-vk

=clr-wine
	+textSmooth
	color: $clr-wine
//
//(VAR) END