// HEADER___COMMON
//
.flexHeader,
.header-subMenu-title,
.header-subMenu-pro,
.header-subMenu-separator
	+flex
//
//(HEADER___COMMON) END



// HEADER
//
.flexHeader
	flex: 0 0 100%
	height: 100px
	background-color: $clr-wine
//
//(HEADER) END



// HEADER-SUBMENU
//
.header-subMenu-title
	align-self: flex-start
	align-items: center
	margin: 0 0 7px

	sup
		+clr-gray70

.header-subMenu-title,
.header-subMenu-pro
	padding: 0 8px
	font-size: em(14)

.header-subMenu-pro
	align-self: flex-start
	align-items: center
	margin: 0 0 5px
	+clr-gold

	&:hover
		+clr-gold

	&:after,
	&:before
		+flex
		line-height: 20px
		margin: 0 5px
		padding: 0 7px 0 9px
		font-size: em(15)
		letter-spacing: 1px
		+border-radius(24px)
		border: 1px solid $clr-gold

	&:after
		content: 'PRO'

	&:before
		margin-left: -6px
		background-color: $clr-gold
		+clr-invert

	&.itemActive
		&:after
			content: none

		&:before
			content: 'PRO'

.header-subMenu-separator
	width: 100%
	height: 1px
	margin: 3px 0
	background-color: $clr-gray90
//
//(HEADER-SUBMENU) END