// ACCOUNTSWITCH___COMMON
//
.accountSwitch,
.accountSwitch-i
	+flex
//
//(ACCOUNTSWITCH___COMMON) END



// ACCOUNTSWITCH
//
.accountSwitch
	+flex-c
	align-items: center
	padding: 80px 0

	&-title
		margin: 0 0 10px
		font-size: em(20)
		font-weight: $weight-light
		+clr-gray50

	&-i
		align-items: center
		justify-content: space-between
		position: relative
		width: 440px
		min-height: 80px
		margin: 10px 0
		padding: 11px 35px 11px 11px
		border: 1px solid $clr-gray90
		+border-radius(40px)
		+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0)
		background-color: $clr-invert
		cursor: pointer

		&:last-child
			margin-bottom: 30px

		&:hover
			border-color: $clr-green
			+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0, inset 0 0 0 1px $clr-green)
//
//(ACCOUNTSWITCH) END