// SUBMENU___COMMON
//
.subMenu,
.subMenu-date
	+flex

.subMenu-link,
.subMenu-count
	+flex-inline
//
//(SUBMENU___COMMON) END



// SUBMENU
//
//
.subMenu
	flex: 0 0 100%
	align-items: flex-end
	justify-content: space-between
	height: 70px
	margin: 0 0 -1px
	+noSelect

	li
		position: relative

	&-link
		line-height: 20px
		margin: 0 10px
		padding: 0 20px 18px
		font-size: em(18)
		border-bottom: 2px solid transparent

		&:hover:not(.link-gray)
			border-bottom-color: $clr-blue

	&-count
		margin: 0 0 0 10px
		font-weight: $weight-light

	&-date
		align-self: flex-start
		margin: 15px 0 5px 10px
//
// SUBMENU___ADD
//
.subMenu
	&-link
		&.itemActive:not(.link-gray)
			font-weight: $weight-medium
			border-bottom-color: $clr-blue

		&.link-gray
			&:after
				content: ''
				+flex-inline
				align-self: center
				position: relative
				margin: 3px 0 0 5px
				border-top: 6px solid $clr-gray80
				border-right: 6px solid transparent
				border-left: 6px solid transparent

			&:hover
				&:after
					border-top-color: $clr-gray70

	&.typeUserMenu
		font-size: em(13)

		&:not(:hover)
			.subMenu-link
				color: $clr-gray50

				&.itemActive
					border-bottom-color: $clr-gray80

	&.typeShort
		justify-content: center

		li
			+flex-inline
			justify-content: center
			flex-basis: 250px
//
// SUBMENU___MIX
//
.subMenu-link
	.widget-iconStar
		&.size20
			background-position: 0px -101px
//
//
//(SUBMENU) END