// FORM-CHECK___MOD
//
.form-line
	&.-sectReg
		.form-check-area:not(:checked) + .form-check-label
			+opacity(0.4)
//
//(FORM-CHECK___MOD) END



// FORM-HINT___MOD
//
.form-hint
	&.-sectReg
		margin: 0 0 25px 35px
		text-align: left
		font-size: em(14)
//
//(FORM-HINT___MOD) END