// FLEXFORM___COMMON
//
.form-switch-input,
.form-switch-label,
.form-line,
.flexForm-input-area,
.form-hint,
.flexForm-input-label
	+flex

.form-switch,
.form-check,
.form-check-label,
.flexForm-label,
.flexForm-group,
.flexForm-input,
.flexForm-select-area
	+flex-inline
//
//(FLEXFORM___COMMON) END



// FORM-SWITCH
//
.form-switch
	flex: 0 0 auto
	align-items: center
	align-content: center
	position: relative
	height: 24px

	&-label
		width: 44px
		height: 12px
		+border-radius(15px)
		background-color: #BCF8FC

		&:after,
		&:before
			+flex
			content: ''
			position: absolute
			left: 0
			width: 24px
			height: 24px
			+border-radius(15px)
			+transition(0.1s ease-in-out)
			background-color: $clr-invert
			+IEFixVAlign

		&:after
			box-shadow: inset 0 0 0 1px rgba($clr-blue75, 0.7), 0px 2px 6px 0px rgba($clr-base, 0.2)

	&-input
		width: 0
		height: 0
		+opacity(0)

		&:checked + .form-switch-label
			&:after
				left: 20px
				box-shadow: inset 0 0 0 1px rgba($clr-pink89, 0.5), 0px 2px 6px 0px rgba($clr-base, 0.2)

			&:before
				width: 44px
				height: 12px
				background-color: $clr-pink
//
//(FORM-SWITCH) END



// FORM-CHECK
//
//
.form-check
	&-label
		position: relative
		align-items: center
		line-height: 16px
		text-align: left
		cursor: pointer

		&:before
			content: ''
			align-self: center
			width: 20px
			height: 20px
			margin: 0 5px 0 0
			padding: 2px
			text-align: center
			border: 2px solid $clr-gray80

		&:empty
			&:before
				margin: 0

		&:after
			+flex
			position: absolute
			top: -4px
			left: 4px
			bottom: 0
			width: 13px
			height: 7px
			margin: auto
			border: solid $clr-invert
			border-width: 0 0 2px 2px
			transform: rotate(-45deg)

		&:hover
			&:before
				border-color: $clr-gray60

	&-area
		position: absolute
		width: 0
		height: 0
		+opacity(0)
//
// FORM-CHECK___ADD
//
.form-check
	&.typeError
		.form-check-label:before
			border-color: $clr-red
//
// FORM-CHECK___MIX
//
.form-check-area
	&:checked + .form-check-label:before
		border-color: $clr-green
		background-color: $clr-green

	&:disabled + .form-check-label
		font-weight: $weight-light
		color: $clr-gray60
		cursor: default

		&:before
			border-width: 1px
			// CAUSEOF HOVER
			border-color: $clr-gray80 !important
			//(CAUSEOF HOVER) END

.form-check-area[type="checkbox"]
	& + .form-check-label:before
		+border-radius(4px)

	&:checked + .form-check-label:after
		content: ''

.form-check-area[type="radio"]
	& + .form-check-label:before
		+border-radius(50%)

	&:checked + .form-check-label:before
		box-shadow: inset 0 0 0 3px $clr-invert
//
//
//(FORM-CHECK) END



// FLEXFORM
//
//
// SHUT UP LASTPASS SHIT
//
*[id^="__lpform"]
	display: none !important
//
//( SHUT UP LASTPASS SHIT) END
//
.form-line
	flex: 1 0 100%

	& > *:not(:first-child)
		margin: 0 0 0 20px

	.flexForm-label,
	.flexForm-input-area,
	.flexForm-select-area
		height: 40px

	.form-check
		min-height: 40px

.flexForm-label
	align-self: flex-start
	align-items: center
	line-height: 16px
	padding: 0 0 2px
	font-size: em(16)
	+clr-gray70

.flexForm-group
	flex: 1 1 100%

.flexForm-input,
.flexForm-select-area
	flex: 1 1 0%
	position: relative

.flexForm-input-area,
.flexForm-select-area
	line-height: 38px
	padding: 0 10px 2px
	font-size: em(20)
	border: none
	+box-shadow(inset 0 0 0 1px $clr-gray70)
	+appearance(none)

	&::placeholder
		+clr-gray70

	&:-moz-placeholder
		+clr-gray70

	&::-moz-placeholder
		+clr-gray70

	&:-ms-input-placeholder
		+clr-gray70

	&::-webkit-input-placeholder
		+clr-gray70

	&[disabled]:not(.typeCal)
		+noSelect
		font-weight: $weight-light
		+box-shadow(inset 0 0 0 1px $clr-gray70 !important)
		background-color: $clr-gray96
		+clr-gray60
		cursor: default

.flexForm-input-area
	// CAUSEOF COLLAPSING
	width: 100%
	// CAUSEOF COLLAPSING
	background-color: $clr-invert
	background-image: none !important

	&:not([value=""]),
	&:not(:placeholder-shown)
		+box-shadow(inset 0 0 0 1px $clr-gray80)

.flexForm-select-area
	+border-radius(6px)
	background-repeat: no-repeat
	background-color: $clr-invert
	background-position: calc(100% - 10px), center left
	background-image: url('/img/cap/form/form—triangle.svg')
	cursor: pointer

	&:valid:not(.typeError)
		+box-shadow(inset 0 0 0 1px $clr-gray80)

	&:invalid
		+clr-gray70

.flexForm-input-area,
.flexForm-select-area
	&:focus
		+box-shadow(inset 0 0 0 1px $clr-blue, 0 0 0 2px $clr-sky !important)

.flexForm-select-area:not(.typeError)
	&:hover:not(:focus)
		+box-shadow(inset 0 0 0 1px $clr-gray60)

.flexForm-input:not(.typeError)
	&:hover:not(:focus)
		.flexForm-input-area
			+box-shadow(inset 0 0 0 1px $clr-gray60)

.form-hint
	justify-content: center
	text-align: center
	font-size: em(16)
	+clr-gray50

.flexForm-input-label
	position: absolute
	bottom: 0
	left: 0
	line-height: 28px
	padding: 0 0 0 10px
	font-size: em(13)
	font-weight: $weight-medium
	+clr-gray70

	&:not(:empty) + .flexForm-input-area
		height: 55px
		padding-bottom: 17px
//
// FORM-LINE___ADD
//
.form-line
	min-height: 40px
	margin: 0 0 10px

	&.typeSmall
		min-height: 34px

		.flexForm-label,
		.flexForm-input-area,
		.flexForm-select-area
			height: 34px
			line-height: 32px
			font-size: em(16)

		.form-check
			min-height: 34px
//
// FLEXFORM-GROUP___ADD
//
.flexForm-group
	&.typeMulty
		+flex-w

	&.typeColumn
		+flex-c

		& > .form-check
			margin-left: 10px

	&.typeColumn > *:not(:last-child):not(.form-check)
		margin: 0 0 10px 0

	&:not(.typeColumn) > *:not(:last-child)
		margin: 0 20px 0 0

	&:not(.typeColumn) > .form-check:first-child
		margin-left: 10px

	&.typeDate > *:not(:last-child)
		margin: 0 10px 0 0
//
// FLEXFORM-INPUT___ADD
//
.flexForm-input
	&.typeTel
		.flexForm-input-area
			+border-radius(6px 0 0 6px)

	&.typeIcon
		.flexForm-input-area
			padding-right: 30px
//
// FLEXFORM-SELECT___ADD
//
.flexForm-select-area
	&.typeCal
		+box-shadow(inset 0 0 0 1px $clr-gray80)
		background-image: url('/img/cap/form/form—cal.svg')
//
// FLEXFORM-INPUT(SELECT)___ADD
//
.flexForm-select-area.typeError,
.flexForm-input.typeError .flexForm-input-area
	+box-shadow(inset 0 0 0 1px $clr-red)

.flexForm-select-area.typeCenter,
.flexForm-input.typeCenter .flexForm-input-area
	text-align: center
//
//
//(FLEXFORM) END