// FOOTER___COMMON
//
.footer,
.footer-info,
.footer-partner,
.footer-lang
	+flex

.footer-info-i,
.footer-partner-i,
.footer-lang-column,
.footer-lang-i
	+flex-inline
//
//(FOOTER___COMMON) END



// FOOTER
//
//
.footer
	+flex-c
	align-items: center
	justify-content: center
	padding: 140px 0 30px

	&-info
		margin: 0 0 30px
		padding: 28px 0 0

	&-info-i
		align-items: center
		font-weight: $weight-light

		&:after
			+flex
			content: ''
			position: relative
			width: 3px
			height: 3px
			margin: 0 15px
			+border-radius(50%)
			background-color: $clr-gray85

		&:nth-last-child(1)
			&:after
				content: none

		&:nth-last-child(2)
			&:after
				margin: 0 10px
				background: none

	&-partner-i
		margin: 0 13px
		font-size: em(12)

	&-lang
		justify-content: space-between

	&-lang-column
		+flex-w
		flex: 0 0 230px
		align-content: flex-start
		padding: 0 10px

	&-lang-i
		line-height: 34px
		text-align: left
		font-size: em(20)
//
// FOOTER___ADD
//
.footer-lang-i
	&.itemActive > *
		+flex-inline
		align-items: center
		+clr-wine
		cursor: default

		&:before
			+flex
			content: ''
			width: 4px
			height: 4px
			margin: 0 16px 0 -20px
			+border-radius(50%)
			background-color: $clr-wine
//
//
//(FOOTER) END