// FORM-TEXTAREA___MOD
//
.form-textarea
	&.-sectAlbum-modal
		height: 74px

	&.-sectAlbum-modalRecall
		height: 185px

.form-newTextarea
	&[contenteditable=true]
		&.-sectSettings
			min-height: 84px

	&[contenteditable=true],
	&[contenteditable=false]
		&.-sectAlbum-addItem
			display: block
			min-height: 67px
			+word-w

			&:empty
				&:before
					text-align: center

			&.itemDisabled
				font-weight: $weight-base

	&[contenteditable=false]
		&.-subSectModal-sharing
			min-height: inherit
			word-break: break-all
			text-align: center
			font-size: em(20)

	&.-sectGallery-dialog
		display: block
		text-align: left
		+word-w
		+box-shadow(none)

		&[contenteditable=true],
		&[contenteditable=false].typeDisabled
			min-height: 48px
			margin: 0 20px 10px 0

		&[contenteditable=true]
			background-color: $clr-invert

		&[contenteditable=false]:not(.typeDisabled)
			min-height: auto
			padding: 6px 0 4px
			border: none
//
//(FORM-TEXTAREA___MOD) END



// FORM-CONTROLS___MOD
//
.form-group
	&.-sectRegistration
		width: calc(100% + 30px * 2)
		margin: -25px 0 25px
//
//(FORM-CONTROLS___MOD) END



// FORM-RADIOBOX-ICON___MOD
//
.form-radiobox-icon
	&.size21
		&:before
			top: 3px
			width: 21px
			height: 21px
			border: 1px solid $clr-blue

		&:after
			top: 8px
			width: 13px
			height: 13px
			background-color: $clr-blue

		&.itemActive
			&:before
				border: 1px solid $clr-wine

			&:after
				background-color: $clr-wine
//
//(FORM-RADIOBOX-ICON___MOD) END



// FORM-GROUP___MOD
//
.form-group
	&.-sectService
		padding: 20px 0
		border-bottom: 1px solid $clr-gray90
//
//(FORM-GROUP___MOD) END