// FORM-RADIOBOX
//
.form-radiobox
	overflow: visible
	position: relative
	vertical-align: top
	min-height: 20px
	max-width: 200px
	text-align: center
	color: $clr-base

	&.typeAlone
		display: block
		max-width: 100%

.form-radiobox-control
	position: absolute
	left: -50000px

.form-radiobox-icon
	z-index: 1
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	+border-radius(6px)
	cursor: pointer

	&:after,
	&:before
		+flex
		position: absolute
		left: 10px
		+border-radius(50%)

	&:before
		content: ''
		width: 20px
		height: 20px
		border: 2px solid $clr-gray80

	&:after
		top: 5px
		width: 10px
		height: 10px
		margin-left: 5px
		background-color: $clr-green

	&:hover
		&:before
			border: 2px solid $clr-gray60

.form-radiobox-desc,
.form-checkbox-desc
	// BECAUSE OF text-align
	position: relative
	line-height: 20px
	text-align: left
	font-size: em(16)
	font-weight: $weight-light

.form-radiobox-desc
	display: block
	padding: 0 10px 0 35px

.form-checkbox-desc
	display: inline-block
	top: -1px
	margin-left: 5px

.form-radiobox-column
	display: inline-block
	position: relative
	vertical-align: top
	width: 183px
	margin: 0 auto

.form-group
	&.subSection
		width: 100%
		margin-left: 20px

	.form-radiobox-control:checked + .form-radiobox-icon
		cursor: default

		&:after
			content: ''

		&:before
			border: 2px solid $clr-green

.form-radiobox-control:checked + .form-radiobox-icon + .form-radiobox-desc
	font-weight: $weight-base

.form-radiobox-comment
	line-height: 18px
	padding: 0 0 15px 36px
	font-size: em(14)
	+clr-gray70

.form-newControls
	&.typeError
		.form-radiobox-icon
			&:before
				border-color: $clr-red
//
//(FORM-RADIOBOX) END



// [FORM-RADIOBOX]___MODIFIER
//
.form-radiobox
	&.-sectRegistration
		display: inline-block
		margin: auto

		.form-radiobox-icon
			&:after,
			&:before
				content: ''
				position: relative
				left: 0
				margin: 0 auto

			&:after
				content: none
				margin-top: -20px

			& + .form-radiobox-desc
				margin-top: 27px
				padding-left: 0
				text-align: center
				font-size: 32px
				font-weight: $weight-base

		.form-radiobox-control:checked + .form-radiobox-icon + .form-radiobox-desc
			+clr-green

	&.-sectRegistration
		.form-radiobox-desc
			padding-right: 0

.form-newControls
	&.typeClear
		.form-radiobox-icon
			&:after,
			&:before
				+opacity(0.4)

		.form-radiobox-desc
			+opacity(0.4)

		.form-radiobox-control:checked + .form-radiobox-icon
			&:after,
			&:before
				+opacity(1)

		.form-radiobox-control:checked + .form-radiobox-icon + .form-radiobox-desc
			+opacity(1)

		.form-radiobox
			&:hover > *
				+opacity(1)
//
//([FORM-RADIOBOX]___MODIFIER) END