// FORM
//
.form
	&.itemCenter
		margin: 0 auto

.form-group,
.form-group-small
	overflow: visible
	+flex
	+flex-w
	align-items: center
	position: relative
	min-height: 40px

.form-group-small
	min-height: 34px

.form-label
	line-height: 17px
	padding: 0 20px 0 0
	font-size: em(16)
	font-weight: $weight-light
	+clr-gray60

	&.typeTop
		align-self: flex-start
		margin-top: 2px

.form,
.form-controls
	position: relative

.form-c,
.form-controls-c
	margin: 0 auto

.form-controls-label
	display: inline-block
	position: relative
	float: left
	vertical-align: top
	line-height: 38px
	font-size: em(20)

.form-newControls
	+flex-inline
	+flex-w
	position: relative
	width: 100%

.form-input
	padding: 5px 10px 8px
	font-size: em(20)

.form-input-text
	padding: 0 10px
	font-size: em(20)
	color: $clr-base

.form-input-small
	padding: 5px 10px 7px
	font-size: em(16)

.form-input,
.form-input-small
	display: block
	position: relative
	float: left
	width: 100%
	border: 1px solid $clr-gray80
	color: $clr-base

	&::-ms-clear
		display: none

	&.typeWithIcon
		padding-right: 30px

.form-textarea
	overflow: hidden
	float: left
	height: 21px
	line-height: 22px
	padding: 7px 9px
	resize: none
	font-size: em(16)
	border: 1px solid $clr-gray80
	color: $clr-base

.form-input,
.form-textarea,
.form-input-small
	&:-moz-placeholder
		+clr-gray70

	&::-moz-placeholder
		+clr-gray70

	&:-ms-input-placeholder
		+clr-gray70

	&::-webkit-input-placeholder
		+clr-gray70

.form-input-small
	&.itemCenter
		+hAlign
		display: block

.form-newTextarea
	+flex-inline
	overflow: hidden
	width: 100%
	height: auto
	min-height: 44px
	line-height: 22px
	padding: 7px 9px
	font-size: em(16)
	border: 1px solid $clr-gray80
	color: $clr-base

	&[contenteditable=true]
		&.itemError
			border: 1px solid $clr-red

		&:focus
			border: 1px solid $clr-blue
			outline: 3px solid $clr-sky

			&:hover
				border: 1px solid $clr-blue

	&[contenteditable=true],
	&[contenteditable=false].typeDisabled
		&:empty
			&:before
				+flex
				content: attr(placeholder)
				//** FF HACK **//
				word-break: initial
				font-weight: $weight-light
				+clr-gray70

	&[contenteditable=true]
		&:empty
			&:before
				cursor: text

	&[contenteditable=false].typeDisabled
		background-color: $clr-gray97

		&:empty
			&:before
				cursor: default

	&.itemCenter
		margin: 0 auto

	&.typeWysiwyg
		min-height: 184px

.form-newControls
	&.itemNonActive
		.form-input
			font-weight: $weight-light
			border: 1px solid $clr-gray70
			background-color: $clr-gray97
			+clr-gray70

	&.typeError
		.form-input,
		.form-newTextarea
			border: 1px solid $clr-red

			&:focus
				border: 1px solid $clr-blue !important

.form-input,
.form-newControls
	&.itemCenter
		text-align: center
//
//(FORM) END



// FORM-UPLOAD
//
.form-input-upload
	z-index: 1
	overflow: hidden
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	+opacity(0)
	cursor: pointer

	//** WK HACK **//
	&::-webkit-file-upload-button
		cursor: pointer
//
//(FORM-UPLOAD) END



// FORM-SELECT
//
.form-select
	display: inline-block
	position: relative
	float: left
	vertical-align: middle
	margin-right: 10px

	&:last-child
		margin-right: 0

	&:before
		+flex
		content: ''
		z-index: 2
		position: absolute
		top: 0
		right: 7px
		bottom: 0
		width: 0
		height: 0
		margin: auto
		border-top: 7px solid $clr-gray80
		border-right: 7px solid transparent
		border-left: 7px solid transparent

.form-select-list
	z-index: 1
	display: block
	position: relative
	width: 100%
	// IE FIX ONLY
	height: 40px
	line-height: 36px
	padding: 0 10px 2px
	font-size: em(20)
	font-weight: $weight-base
	appearance: none
	-o-appearance: none
	-moz-appearance: none
	-webkit-appearance: none
	border: 1px solid $clr-gray80
	+border-radius(6px)
	background-clip: padding-box
	-moz-background-clip: padding
	-webkit-background-clip: padding-box
	background-color: $clr-invert

	&.typeSmall
		// IE FIX ONLY
		height: 34px
		line-height: 30px
		font-size: em(16)

	&.itemNonActive
		font-weight: $weight-light
		+clr-gray70

.form-select
	&:hover
		&:before
			border-top-color: $clr-gray60

	&.typeError
		&:before
			border-top-color: $clr-red !important

		.form-select-list
			border-color: $clr-red !important
//
// IE ONLY
.form-select-list::-ms-expand
	display: none
//(IE ONLY) END
//
//(FORM-SELECT) END



// FORM-CHECKBOX
//
.form-checkbox
	+noSelect
	z-index: 0
	display: inline-block
	position: relative
	min-height: 20px
	padding-left: 20px
	cursor: pointer

	&:after
		z-index: 1
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 16px
		height: 16px
		+border-radius(4px)
		border: 2px solid $clr-gray70

.form-checkbox
	&.itemActive
		&:after
			border: 2px solid $clr-green
			background-color: $clr-green

	&.typeAlone
		display: block !important

.form-checkbox-control
	display: none
//
//(FORM-CHECKBOX) END



// FORM & FORM-SELECT
//
.form-input,
.form-input-small,
.form-select-list
	&:disabled
		font-weight: $weight-light
		// BECAUSEOF "typeFilled"
		border: 1px solid $clr-gray80 !important
		background-color: $clr-gray97
		+clr-gray70

.form-newTextarea
	&[contenteditable=false]
		&.itemDisabled
			font-weight: $weight-light
			border: 1px solid $clr-gray80
			background-color: $clr-gray97
			+clr-gray70
//
//(FORM & FORM-SELECT) END

.form-group
	&.itemFlexCenter
		justify-content: center

.form-flexControls
	+flex-inline
	+flex-w
	flex: 1 1 0%
	align-items: center
	align-content: flex-start
	position: relative

	&.-sectGallery-dialog
		width: 100%



.form-input,
.form-textarea,
.form-input-small,
.form-newTextarea[contenteditable=true]
	+box-shadow(0 0 0 3px $clr-invert)

	&:hover
		border: 1px solid $clr-gray60

	&:focus
		border: 1px solid $clr-blue !important
		+box-shadow(0 0 0 3px $clr-sky)

		&:hover
			border: 1px solid $clr-blue

.form-input,
.form-input-small
	&.typeFilled
		border: 1px solid $clr-gray85

	&.withSelect
		+border-radius(8px 0 0 8px)

	// DON'T CHANGE ORDER
	&.typeError
		border: 1px solid $clr-red

.form-select
	&:hover
		.form-select-list
			border-color: 1px solid $clr-gray60

	&.typeFilled
		&:before
			border-top-color: $clr-gray85

		.form-select-list
			border: 1px solid $clr-gray85