.header-wrap
	position: relative
	width: 980px
	margin: 0 auto

.header-logo
	display: block
	position: absolute
	left: 19px
	height: 100px


// HEADER-CITY
//
.header-city
	display: table
	position: absolute
	top: 28px
	left: 185px
	width: 85px
	height: 40px
	padding-left: 16px
	background-position: 0px center
	cursor: pointer

.header-city-icon
	display: block
	position: absolute
	top: 13px
	left: 0
	width: 20px
	height: 20px
	+opacity(0.3)

.header-city-link
	display: table-cell
	position: relative
	vertical-align: middle
	top: 1px
	line-height: 13px
	white-space: nowrap
	text-decoration: none
	+opacity(0.5)
	font-size: em(15)
	+clr-invert

	&.-min
		white-space: normal
		font-size: em(13)
//
// HEADER-CITY END



// HEADER-MENU
//
.header-menu
	position: absolute
	left: 289px
	margin: 21px 0 0 11px

.header-menu-item
	display: inline-block
	position: relative
	float: left
	vertical-align: top
	width: 71px
	margin-left: 2px
	text-align: center

.header-menu-item-text
	display: inline-block
	width: 60px
	max-height: 35px
	margin-top: 2px
	+opacity(0.5)
	+textCrop
	text-decoration: none
	font-size: em(12)
	+clr-invert

.header-menu-item-icon
	display: block
	position: relative
	top: 0
	width: 40px
	height: 40px
	margin: 0 auto
	+opacity(0.3)

.header-menu-item-link
	display: block
	position: relative
	margin: 0
	text-align: center
	cursor: pointer

	&:hover
		.header-menu-item-icon
			+opacity(0.5)

		.header-menu-item-text
			+opacity(0.7)
//
// HEADER-MENU END



// HEADER-MENUMORE
//
.header-menuMore
	z-index: 1000
	position: absolute
	top: 85px
	right: 89px
	width: 78px
	+opacity(0)
	+border-radius(4px)
	border: 1px solid rgba(255, 255, 255, 0.5)
	+transition(all 0.1s ease)
	background-color: $clr-wine

	&.active
		+opacity(1)
//
// HEADER-MENUMORE END



// HEADER-SEARCH
//
.header-search
	display: block
	position: absolute
	top: 25px
	right: 19px
	width: 40px
	height: 50px
	+opacity(0.3)
	background-position: center
	background-size: 20px
//
// HEADER-SEARCH END



// [HEADER-MENU-ITEM]___MODIFIER
//
.header-menu-item
	&.active
		.header-menu-item-text
			&:after
				+hAlign
				content: ''
				display: block
				width: 4px
				height: 4px
				margin-top: 7px
				+border-radius(4px)
				background-color: $clr-invert

		.header-menu-item-icon,
		.header-menu-item-text
			+opacity(1)
			font-weight: $weight-medium

	&.-my,
	&.-login
		width: 90px
		margin-left: 0

		.header-menu-item-text
			&:after
				content: none

	&.-my
		.header-menu-item-text
			width: 70px

	&.-login
		.header-menu-item-icon
			width: 58px
			height: 58px
			+opacity(0.9)
			background-size: 58px

		.header-menu-item-text
			+vhAlignAbs
			width: 55px
			line-height: 16px
			margin-top: 0
			font-size: em(14)
			+opacity(1)
			letter-spacing: 0.5px

	&.-pro
		//** TEMP HACK **//
		display: none

	&.-more
		&:hover,
		.header-menu-item-link.active
			.header-menu-item-icon
				+transform(rotate(180deg))
//
//([HEADER-MENU-ITEM]___MODIFIER) END



// [HEADER-MENU-LIST]___MODIFIER
//
.header-menu-list
	&.-more
		padding: 9px 0

		.header-menu-item
			width: 78px
			margin-bottom: 8px

		.header-menu-item-link
			padding-bottom: 0

		.header-menu-item-icon
			top: 0

		.header-menu-item-text
			margin-top: 5px
//
//([HEADER-MENU-LIST]___MODIFIER) END