// IC-WRAP___MOD
//
//
.ic-wrap-20-40
	&.-sectPhoto-media
		background-color: transparent

	&.-sectPhoto-media,
	&.-sectPhoto-full
		z-index: 1000
		position: absolute
		top: -5px
		right: -40px
		+opacity(0.4)

		&:hover
			+opacity(1)

		.ic-close
			&.size20
				right: 0
				left: 0
				background-position: 0px -60px

	&.-sectPhoto-full
		top: 15px
		right: 15px

.ic-wrap-20-80
	&.-sectPhoto-media-l,
	&.-sectPhoto-media-r
		z-index: 101
		display: none
		position: absolute

	&.-sectPhoto-media-l
		left: 10px
		+opacity(0.4)

		&:hover
			+opacity(1)

			& + .-sectPhoto-media-r
				+opacity(0.4)

	&.-sectPhoto-media-r
		right: 10px
//
// IC-WRAP___MOD___MIX
//
.album-gallery-preview
	&:hover
		.ic-wrap-20-80
			&.-sectPhoto-media-l,
			&.-sectPhoto-media-r
				+flex-inline
//
//
//(IC-WRAP___MOD) END



// IC-ARROW___MOD
//
.ic-arrow
	&.size19
		&.-sectPhoto-profile
			left: 860px

			&.itemDirR
				right: 860px
				left: auto
//
//(IC-ARROW___MOD) END