// IC___COMMON
//
.ic-social-wrap
	+flex

*[class*="ic-wrap-"]
	+flex-inline
	cursor: pointer

.ic-close,
.ic-social,
.ic-status,
.ic-arrow,
.ic-loader
	+flex-inline
	flex-shrink: 0
	background-size: cover
	cursor: pointer
//
//(IC___COMMON) END



// IC-WRAP
//
*[class*="ic-wrap-20"]
	background-color: $clr-base-rbga-20

*[class*="ic-wrap-30"]
	background-color: $clr-base-rbga-30

*[class*="ic-wrap-60"]
	background-color: $clr-base-rbga-60

.ic-wrap-20
	&-40
		width: 40px
		height: 40px
		+border-radius(40px)

	&-80
		width: 80px
		height: 80px
		+border-radius(80px)

.ic-wrap-30,
.ic-wrap-60
	&-34
		align-items: center
		justify-content: center
		height: 34px
		min-width: 34px
		+border-radius(34px)
//
//(IC-WRAP) END



// IC-CLOSE
//
//
.ic-close
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	background-position: 0px 0px

	&.size14
		right: 9px
		width: 14px
		height: 14px

	&.size20
		right: 18px
		width: 20px
		height: 20px

		&:hover
			background-position: 0px -20px

		&.typeWhite
			+opacity(0.5)
			background-position: 0px -60px

			&:hover
				+opacity(1)
//
// IC-CLOSE___MIX
//
.form-input-small:focus + .ic-close
	&.size14
		background-position: 0px -28px
//
//
//(IC-CLOSE) END



// IC-SOCIAL
//
.ic-social
	&.size70
		width: 70px
		height: 70px
		margin: 0 10px

		&.typeSocialAuthFB
			background-position: 0px -210px

		&.typeSocialAuthGOO
			background-position: 0px -140px

		&.typeSocialAuthTW
			background-position: 0px -700px

		&.typeSocialAuthVK
			background-position: 0px -70px

	&.size120
		width: 120px
		height: 120px
		+opacity(0.9)

		&.typeSocialAuthFB
			background-position: 0px -360px

			&:hover
				+clr-soc-fb

		&.typeSocialAuthGOO
			background-position: 0px -240px

			&:hover
				+clr-soc-gp

		&.typeSocialAuthML
			background-position: 0px -480px

			&:hover
				+clr-soc-mr

		&.typeSocialAuthODN
			&:hover
				+clr-soc-od

		&.typeSocialAuthTW
			background-position: 0px -1200px

		&.typeSocialAuthVK
			background-position: 0px -120px

			&:hover
				+clr-soc-vk

		&.itemNonActive
			+opacity(1)
			+clr-invert

			&.typeSocialAuthFB
				background-position: 0px -960px

				&:hover
					background-position: 0px -360px

			&.typeSocialAuthGOO
				background-position: 0px -840px

				&:hover
					background-position: 0px -240px

			&.typeSocialAuthML
				background-position: 0px -1080px

				&:hover
					background-position: 0px -480px

			&.typeSocialAuthODN
				background-position: 0px -600px

				&:hover
					background-position: 0px 0px

			&.typeSocialAuthVK
				background-position: 0px -720px

				&:hover
					background-position: 0px -120px

	&.size160
		width: 160px
		height: 160px
		cursor: default

		&.typeSocialAuthFB
			background-position: 0px -480px

		&.typeSocialAuthGOO
			background-position: 0px -320px

		&.typeSocialAuthML
			background-position: 0px -640px

		&.typeSocialAuthVK
			background-position: 0px -160px
//
//(IC-SOCIAL) END



// IC-STATUS
//
.ic-status
	justify-content: center
	width: 24px
	height: 24px
	cursor: default

	&:after,
	&:before
		align-self: center
		position: relative

	&:before
		content: ''
		top: -2px
		width: 18px
		height: 8px
		border: solid $clr-green
		border-width: 0 0 2px 2px
		transform: rotate(-45deg)

	&.itemNonActive
		&:after
			+flex
			content: ''
			width: 18px
			border-top: 1px solid $clr-gray90

		&:before
			content: none

	&.itemNonSelected
		+border-radius(50%)
		border: 2px solid $clr-gray90

		&:after,
		&:before
			content: none

	&.size24
		width: 36px
		height: 36px
		font-style: normal

		&.itemNonSelected
			line-height: 100%
			padding: 4px 0
			font-size: em(22)

		&:before
			top: -3px
			width: 24px
			height: 12px
			border-width: 0 0 3px 3px
//
//(IC-STATUS) END



// IC-ARROW
//
.ic-arrow
	&.itemDirT
		+transform(rotate(90deg))

	&.itemDirR
		+transform(rotate(-180deg))

	&.itemDirB
		+transform(rotate(-90deg))

	&.size12
		width: 12px
		height: 16px
		background-position: 0px -1px

	&.size19
		z-index: 4
		position: absolute
		top: 0
		bottom: 0
		left: 340px
		width: 19px
		height: 26px
		margin: auto
		background-position: 0px -1px

		&:hover
			background-position: 0px -29px

		&.itemDirR
			right: 340px
			left: auto

	&.size50
		position: absolute
		top: 0
		right: 0
		left: -5px
		bottom: 0
		width: 36px
		height: 50px
		margin: auto
		background-position: 0px -212px

		&.itemDirR
			right: -5px
			left: 0
//
//(IC-ARROW) END



// IC-LOADER
//
//
.ic-loader
	+animation(spin 0.7s infinite)
	+animation-play-state(running)
	cursor: default

	&.size22
		width: 22px
		height: 28px
		background-position: 0px -1px

		&.typeRed
			background-position: 0px -30px

	&.size48
		width: 48px
		height: 54px
		background-position: 0px -5px

		&.typeGray
			background-position: 0px -133px

		&.typeRed
			background-position: 0px -69px
//
// IC-LOADER___MIX
//
.flexForm-input
	.ic-loader
		position: absolute
		top: 0
		right: 6px
		bottom: 0
		margin: auto
//
//
//(IC-LOADER) END