// FLEX-WRAP
//
//
.flex-wrap,
.flex-wrap-bg
	+flex
	position: relative

.flex-wrap
	width: 1000px
	padding: 0 20px
	justify-content: center
	+flex-w

	&.typeColumn,
	&.typeColumnCenter
		+flex-c

	&.typeColumnCenter
		align-items: center

.flex-wrap-bg
	overflow: hidden
	+flex-c
	align-items: center
	border-bottom: 1px solid transparent

	&.typeBlur
		overflow: hidden

		&:after
			z-index: -1
			content: ''
			display: block
			position: absolute
			right: 0
			bottom: 0
			left: 0
			width: 100%
			height: 135px
			background-image: linear-gradient($clr-gray97, $clr-gray94)

	&.typeSeparate,
	&.typeActionPanel
		margin: 0 0 50px

	&.typeActionPanel
		height: 100px
		background-color: $clr-invert

	&.typeSubActionPanel
		height: 80px

	&.typeActionPanel,
	&.typeSubActionPanel
		justify-content: center

		.flex-wrap
			align-items: center
			padding: 20px 30px

	&.typeSeparate
		overflow: visible
		border-color: $clr-gray80

	&.typeOverflow
		overflow: visible
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.flex-wrap
		&.typeWide
			width: 1200px
//
//
//(FLEX-WRAP) END