// LINK___COMMON
//
.link-blue-f-wrap,
.link-blue-f
	+flex

.link-black,
.link-blue,
.link-gray,
.link-green,
.link-hover,
.link-red,
.link-white
	+flex-inline
//
//(LINK___COMMON) END



// LINK
//
//
.link-black,
.link-blue,
.link-gray,
.link-green,
.link-hover,
.link-red,
.link-white
	font-weight: $weight-base
	cursor: pointer

.link-black
	color: $clr-base

	&:hover
		color: $clr-base

.link-blue
	+clr-blue

	&:hover
		+clr-blue75

.link-gray
	+clr-gray50

	&:hover
		+clr-gray40

.link-green
	+clr-green

	&:hover
		+clr-green75

.link-hover
	cursor: default
	+clr-wine

	&:hover
		+clr-wine

.link-red
	+clr-red

	&:hover
		+clr-red95

.link-white
	+clr-invert

	&:hover
		+clr-invert

.link-blue-f-wrap
	+flex-c
	align-self: flex-start
	align-items: stretch
	width: calc(100% + 30px)
	margin: 0 -15px

.link-blue-f
	position: relative
	margin: 2px 4px
	padding: 4px 20px 6px
	font-size: em(16)
	+border-radius(20px)
	cursor: pointer

	&:hover,
	&.itemHover
		background-color: $clr-sky

	b
		font-weight: $weight-medium
//
// LINK___ADD
//
.link-blue-f
	&.itemActive
		font-weight: $weight-medium

		& > *
			font-weight: inherit

		&:before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 6px
			width: 4px
			height: 4px
			margin: auto
			+border-radius(50%)
			background-color: $clr-blue

		&.typeWithChild
			&:before
				content: none

.link-blue-f-wrap
	&.typeSmall
		white-space: nowrap
		font-size: em(13)

	&.itemCenter
		.link-blue-f
			justify-content: center

	&.typeTextCrop
		.link-blue-f
			max-width: 100%
			+textCrop
			white-space: nowrap
//
// LINK___MIX
//
.link-blue-f
	.link-blue
		&:hover
			+clr-blue

		.ic-arrow
			&.size12
				background-position: 0px -36px

	.link-gray
		&:hover
			+clr-gray50

	.link-blue,
	.link-gray
		align-items: center
		justify-content: space-between
		width: 100%

	.ic-arrow
		&.size12
			margin: 0 -5px 0 0
//
//
//(LINK) END