// px -> em
@function em($value, $context: 16)
	@return #{$value / $context}em

// Triangle Mixin
//
// @param width           :  px, em
// @param height          :  px, em
// @param direction       :  up, down, left, right
// @param color           :  hex, rgb
//
=arrow($width: 20px, $height: 20px, $direction: up, $color: $clr-base)
	width: 0
	height: 0

	// Right
	@if $direction == right
		border-top: $height/2 solid transparent
		border-bottom: $height/2 solid transparent
		border-left: $width solid $color

	// Left
	@if $direction == left
		border-top: $height/2 solid transparent
		border-bottom: $height/2 solid transparent
		border-right: $width solid $color

	// Up
	@if $direction == up
		border-left: $width/2 solid transparent
		border-right: $width/2 solid transparent
		border-bottom: $height solid $color

	// Down
	@if $direction == down
		border-left: $width/2 solid transparent
		border-right: $width/2 solid transparent
		border-top: $height solid $color

// keyframes mixin
=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@-o-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

// animation mixin
=animation($value)
	-webkit-animation: $value
	-moz-animation: $value
	-ms-animation: $value
	-o-animation: $value
	animation: $value

// animation-play-state mixin
=animation-play-state($value)
	-webkit-animation-play-state: $value
	-moz-animation-play-state: $value
	-ms-animation-play-state: $value
	-o-animation-play-state: $value
	animation-play-state: $value

// animation-delay mixin
=animation-delay($value)
	-webkit-animation-delay: $value
	-moz-animation-delay: $value
	-ms-animation-delay: $value
	-o-animation-delay: $value
	animation-delay: $value

=hAlign
	display: inline-block
	position: relative
	left: 50%
	+transform(translateX(-50%))

=hAlignAbs
	display: block
	position: absolute
	left: 50%
	+transform(translateX(-50%))

=vAlign
	display: block
	position: relative
	top: 50%
	+transform(translateY(-50%))

=vAlignAbs
	display: block
	position: absolute
	top: 50%
	+transform(translateY(-50%))

=vhAlign
	display: block
	position: relative
	top: 50%
	left: 50%
	+transform(translate(-50%, -50%))

=vhAlignAbs
	display: block
	position: absolute
	top: 50%
	left: 50%
	+transform(translate(-50%, -50%))

=vhAlignReset
	display: block
	position: relative
	top: 0
	left: 0
	+transform(translate(0, 0))

=textCrop
	overflow: hidden
	display: block
	text-overflow: ellipsis

=textCropInline
	overflow: hidden
	display: inline-block
	text-overflow: ellipsis

=textSmooth
	font-smooth: always
	font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

=btnClick
	&:active
		top: 1px

=noSelect
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	-webkit-touch-callout: none

=flex
	display: flex
	display: -ms-flexbox
	display: -webkit-flex

=flex-inline
	display: inline-flex
	display: -ms-inline-flexbox
	display: -webkit-inline-flex

=flex-c
	flex-direction: column
	-ms-flex-direction: column

=flex-w
	flex-wrap: wrap
	-webkit-flex-wrap: wrap

=word-w
	word-wrap: break-word
	word-break: break-word
	-ms-word-wrap: break-word

=IEFixVAlign
	top: 0
	bottom: 0
	margin: auto

=IEFixHAlign
	right: 0
	left: 0
	margin: auto