// MODAL___COMMON
//
.modal-wrap,
.modal,
.modal-title,
.modal-content,
.modal-notice,
.modal-scroll-wrap,
.modal-scroll
	+flex

.modal-content-column
	+flex-inline

.modal-notice,
.modal-footer
	// CAUSEOF INLINE AND BLOCK CONTENT
	display: block
	//(CAUSEOF INLINE AND BLOCK CONTENT) END
//
//(MODAL___COMMON) END



// MODAL
//
//
.modal
	z-index: 9998
	+flex-c
	flex: 0 0 auto
	align-items: center
	align-content: center
	position: relative
	min-width: 380px
	margin: auto
	padding: 0 30px 30px
	+border-radius(8px)
	+box-shadow(rgba($clr-base, 0.3) 0 2px 24px 0)
	background-color: $clr-invert

	&-wrap
		+flex-c
		align-items: flex-start
		align-content: flex-start
		z-index: 9998
		overflow: auto
		position: fixed
		top: 0
		width: 100%
		height: 100%
		padding: 20px
		background-color: rgba($clr-base, 0.7)
		-webkit-overflow-scrolling: touch

	&-title
		+noSelect
		align-items: center
		align-content: center
		justify-content: center
		position: relative
		width: calc(100% + 60px)
		height: 50px
		margin: 0 -30px 25px
		padding: 0 0 3px
		font-size: em(20)
		font-weight: $weight-light
		+border-radius(8px 8px 0 0)
		background-color: $clr-gray97
		+clr-gray50

	&-scroll-wrap
		overflow: auto
		width: calc(100% + 60px)
		margin: -25px 0 -30px
		padding: 10px 30px
		+border-radius(0 0 8px 8px)

	&-scroll
		+flex-c
		flex: 1 0 auto
		height: 100%

	&-content
		align-self: stretch
		justify-content: space-between

	&-content-column
		+flex-c

	&-notice
		line-height: 26px
		margin: 0 0 26px
		+word-w
		font-size: em(20)
		text-align: center

	&-footer
		line-height: 22px
		padding: 40px 0 0
		text-align: center
		font-size: em(16)
		+clr-gray50
//
// MODAL___ADD
//
.modal-wrap
	&.typeWhite
		background-color: rgba(243, 245, 246, 0.9)

.modal
	&.typeTop
		margin-top: -20px
		+border-top-left-radius(0)
		+border-top-right-radius(0)

	&.typeNonSpace
		align-items: stretch
		align-content: stretch
		padding: 0

	&.typeTransparent
		+box-shadow(none)
		background: none

	&.itemSize850
		width: 850px

	&.itemSize900-1050
		width: 900px

	&.typeFullScreen
		justify-content: center
		width: 100vw
		height: 100vh
		margin: -20px
		padding: 0
		+box-shadow(none)
		+border-radius(0)

.modal-title
	&.typeVinous
		+border-top-left-radius(0)
		+border-top-right-radius(0)
		background-color: $clr-wine
		+clr-invert

.modal-scroll-wrap
	&.size440
		min-height: 440px
		max-height: 440px

.modal-notice
	&.itemDirL
		justify-content: flex-start
		text-align: left

	&.typeSmall
		line-height: 22px
		margin: 0 0 30px
		font-size: em(16)

	&.typeError
		+clr-red
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.modal
		&.itemSize900-1050
			width: 1050px
//
//
//(MODAL) END