// PHOTO___COMMON
//
.photo-wedding-card-l,
.photo-wedding-card,
.photo-wedding-card-grid,
.photo-wedding-card-label,
.photo-wedding-card-link-big,
.photo-wedding-card-link-small,
.photo-wedding-card-manage,
.photo-wedding-card-manage-title,
.photo-wedding-modal,
.photo-wedding-modal-title,
.photo-wedding-modal-content,
.photo-wedding-modal-pane,
.photo-manage,
.photo-notice,
.photo-stream,
.photo-stream-card-wrap,
.photo-stream-card,
.photo-stream-title,
.photo-stream-info,
.photo-fs,
.photo-upload-type,
.photo-upload-type-desc,
.photo-upload-type-src,
.photo-cardBig,
.photo-cardBig-img-wrap,
.photo-cardBig-img,
.photo-cardBig-pane,
.photo-hint,
.photo-hint-desc,
.photo-discuss,
.photo-discuss-comment-title,
.photo-discuss-comment-group,
.photo-discuss-comment-sect,
.photo-discuss-comment,
.photo-discuss-comment-message,
.photo-discuss-comment-author,
.photo-discuss-comment-info,
.photo-discuss-comment-date,
.photo-discuss-comment-loadMore,
.photo-discuss-info,
.photo-discuss-info-title,
.photo-discuss-info-cup,
.photo-discuss-info-count,
.photo-discuss-info-tag
	+flex

.photo-wedding-card-link-big,
.photo-wedding-card-link-grid,
.photo-wedding-modal-l,
.photo-wedding-modal-r,
.photo-notice-role,
.photo-notice-author,
.photo-stream-contact,
.photo-fs-clr,
.photo-upload-type-column,
.photo-cardBig-pane-l,
.photo-cardBig-pane-r,
.photo-discuss-l,
.photo-discuss-r,
.photo-discuss-comment-counter,
.photo-discuss-info-tag-i,
.photo-discuss-info-tag-link
	+flex-inline
//
//(PHOTO___COMMON) END



// PHOTO-WEDDING-MODAL
//
//
.photo-wedding-modal
	// NO STYLES

	&-l
		+flex-c
		// CAUSE OF ITEM COLLAPSING
		flex: 1 0 0%
		//(CAUSE OF ITEM COLLAPSING) END
		align-items: center
		padding: 30px 20px
		background-color: $clr-invert

	&-title
		align-items: center
		margin: 0 auto 20px
		font-size: em(32)
		font-weight: $weight-light

	&-content
		+flex-c
		margin: 0 0 10px

	&-r
		+flex-c
		align-self: flex-start
		margin: 0 0 0 10px
		padding: 15px
		background-color: $clr-invert

	&-pane
		margin: 0 -15px
		padding: 35px 0 0
//
// PHOTO-WEDDING-MODAL___MIX
//
.photo-wedding-modal-r
	.sidebar
		border: none
		+border-radius(0)
		+box-shadow(none)
//
//
//(PHOTO-WEDDING-MODAL) END



// PHOTO-WEDDING-CARD
//
//
.photo-wedding-card-l
	+flex-w
	align-items: flex-start
	justify-content: center
	position: relative
	padding: 40px 0

.photo-wedding-card
	+flex-c
	width: 420px
	margin: 20px
	outline: 1px solid $clr-gray80
	+box-shadow(rgba($clr-base, 0.2) 0 2px 8px 0)
	background-color: $clr-invert

.photo-wedding-card-grid
	justify-content: space-between
	position: relative

.photo-wedding-card-label
	align-items: center
	align-content: center
	position: absolute
	top: -20px
	left: 20px
	width: 100px
	height: 100px
	line-height: 20px
	padding: 0 0 2px
	text-align: center
	font-size: em(18)
	font-weight: $weight-light
	letter-spacing: 0.4px
	+border-radius(50%)
	border: 2px solid rgba($clr-invert, 0.3)
	background-color: $clr-pink89
	color: $clr-invert

.photo-wedding-card-link-big
	width: 210px
	height: 205px

.photo-wedding-card-link-big,
.photo-wedding-card-link-small
	align-items: center
	justify-content: center
	overflow: hidden
	background-color: $clr-gray94

.photo-wedding-card-link-grid
	+flex-w
	flex: 1 1 0%
	align-content: space-between
	justify-content: space-between
	max-width: 205px
	max-height: 205px

.photo-wedding-card-link-small
	width: 100px
	height: 100px

.photo-wedding-card-manage
	flex: 1 1 0%
	align-items: center
	justify-content: space-between
	position: relative
	height: 50px
	padding: 0 20px

.photo-wedding-card-manage-title
	max-width: 250px
	padding: 0 0 3px
	+textCropInline
	white-space: nowrap
	font-size: em(20)
	font-weight: $weight-light

.photo-wedding-card-l
	&.typeSmall
		.photo-wedding-card-link-grid
			max-width: inherit

	&.typeBig
		padding: 40px 0

		.photo-wedding-card
			width: 890px

			.photo-wedding-card-link-big
				width: 460px
				height: 425px

			.photo-wedding-card-link-grid
				max-width: 425px
				max-height: 425px

			.photo-wedding-card-link-small
				width: 210px
				height: 210px

			.photo-wedding-card-manage
				justify-content: flex-end
				height: 60px
				padding: 0 40px

			.photo-wedding-card-manage-title
				position: absolute
				right: 0
				left: 0
				max-width: 570px
				margin: auto
				text-align: center
				font-size: em(26)
//
// PHOTO-WEDDING-CARD___ADD
//
.photo-wedding-card-l
	&.typeCleanState
		&:before
			z-index: 1
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0

		.photo-wedding-card-manage
			& > *:not(.photo-wedding-card-manage-title)
				display: none

		.photo-wedding-card-manage-title
			width: 240px
			height: 21px
			background: url('/img/cap/wedding—mask—02.svg') no-repeat

		&:not(.typeBig)
			.photo-wedding-card-manage-title
				background: url('/img/cap/wedding—mask—01.svg') no-repeat
//
//
//(PHOTO-WEDDING-CARD) END



// PHOTO-MANAGE
//
//
.photo-manage
	+flex-c
	+flex-w
	flex: 1 1 auto
	align-items: center
	align-content: center
	justify-content: center
	position: relative
	height: 40px
//
// PHOTO-MANAGE___MIX
//
.photo-manage
	.widget-iconWithText-group
		position: absolute
		right: 30px
//
//
//(PHOTO-MANAGE) END



// PHOTO-NOTICE
//
.photo-notice
	flex: 1 0 100%
	align-items: center
	min-height: 100px
	padding: 20px 0

	&-desc
		// NOT FLEX
		display: block
		flex: 1 0 0%
		line-height: 30px
		padding: 0 10px 0 0
		font-size: em(18)

	&-role
		+flex-w

	&-author
		margin: 0 10px 0 0
//
//(PHOTO-NOTICE) END



// PHOTO-STREAM
//
//
.photo-stream
	+flex-c
	flex: 0 0 auto
	padding: 75px 0 0

	&-title
		align-self: center
		margin: 0 0 30px
		font-size: em(20)
		font-weight: 300
		+clr-gray50

	&-card-wrap
		+flex-c
		margin: 0 0 60px

	&-card
		+flex-c
		padding: 10px
		+border-radius(20px 20px 0 0)
		+background-image(linear-gradient(-180deg, $clr-invert 0%, $clr-gray97 100%))

	&-info
		align-items: center
		justify-content: space-between
		padding: 10px 10px 20px

	&-contact
		align-items: center
		position: relative
//
// PHOTO-STREAM___ADD
//
.photo-stream-contact
	&.typeCleanState
		+opacity(0.6)
		+filter(grayscale(1))

		&:before
			+flex
			content: ''
			z-index: 2
			position: absolute
			width: 100%
			height: 100%
			background: none
			cursor: default
//
//
//(PHOTO-STREAM) END



// PHOTO-FS
//
.photo-fs
	z-index: 1000
	align-items: center
	justify-content: space-between
	position: absolute
	right: 0px
	bottom: 0
	left: 0px
	height: 74px
	padding: 0 20px

	&-clr
		width: 20px
		height: 10px
		margin: 0 2px
		cursor: pointer

		&:first-child
			margin-left: 17px

		&:last-child
			margin-right: 17px

*[data-value="dataId-fsClrA"]
	background-color: $clr-invert !important

*[data-value="dataId-fsClrB"]
	background-color: #bfbfbf !important

*[data-value="dataId-fsClrC"]
	background-color: #7f7f7f !important

*[data-value="dataId-fsClrD"]
	background-color: #4c4c4c !important

*[data-value="dataId-fsClrE"]
	background-color: #262626 !important

*[data-value="dataId-fsClrF"]
	background-color: $clr-base !important
//
//(PHOTO-FS) END



// PHOTO-UPLOAD
//
.photo-upload-type
	justify-content: center
	width: calc(100% + 60px)
	margin: -25px 0 20px
	padding: 20px 0 30px
	background-color: $clr-wine
	+clr-invert

	&-column
		+flex-c
		padding: 0 5px

	&-desc
		line-height: 18px
		width: 320px
		text-align: center
		font-size: em(14)
		font-weight: 300
		letter-spacing: 0.4px
		+opacity(0.6)

	&-src
		margin: 0 0 10px
//
// PHOTO-UPLOAD



// PHOTO-CARDBIG
//
//
.photo-cardBig
	+flex-c
	width: 100%
	margin: 10px 0

	&-img-wrap
		align-items: center
		align-content: center
		justify-content: center
		position: relative
		background-color: $clr-gray94
		cursor: pointer

	&-img
		flex: 0 0 auto
		max-width: 100%
		max-height: 100vh !important
		+box-shadow(rgba($clr-base, 0.3) 0 4px 12px 0)
//
// PHOTO-CARDBIG___ADD
//
.photo-cardBig
	&.typeCleanState
		height: 650px
		background-color: $clr-gray100
		cursor: default

.photo-cardBig-img-wrap
	&.typeTransparent
		background: none

	&.typeCleanState
		min-height: 500px
//
//
//(PHOTO-CARDBIG) END



// PHOTO-CARDBIG-PANE
//
.photo-cardBig-pane
	flex: 0 0 70px
	align-items: center
	justify-content: center
	position: relative
	padding: 0 20px
	border-bottom: 1px solid $clr-gray80
	background-color: $clr-invert
	cursor: default

	&-l,
	&-r
		position: absolute
		// BECAUSE OF FIREFOX
		top: 0
		height: 100%

	&-l
		left: 40px

	&-r
		right: 40px
//
// PHOTO-CARDBIG-PANE___ADD
//
.photo-cardBig-pane
	&.typeNarrow
		z-index: 1
		display: none
		position: absolute
		bottom: -54px
		height: 60px
		width: 550px
		+border-radius(4px)
		+box-shadow($clr-base-rbga-20 0 4px 12px 0)
		+IEFixHAlign

		.photo-cardBig-pane-l
			left: 20px

		.photo-cardBig-pane-r
			right: 20px

	&.typeVideo
		.photo-cardBig-pane-l
			display: none
//
// PHOTO-CARDBIG-PANE___MIX
//
.album-card-list
	.photo-cardBig
		margin-left: 13px
//
.photo-cardBig-img-wrap
	&:hover
		.photo-cardBig-pane
			&.typeNarrow
				+flex

.photo-cardBig-pane
	&.typeNarrow
		.widget-iconShare ~ .widget-iconWithText-value
			display: none
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.album-card-list
		.photo-cardBig
			margin-left: 20px
//
//
//(PHOTO-CARDBIG-PANE) END



// PHOTO-HINT
//
.photo-hint
	+flex-w
	justify-content: center
	z-index: 1
	position: absolute
	right: 0
	left: 0

	&-desc
		flex: 0 1 100%
		line-height: 30px
		padding: 95px 190px 25px
		text-align: center
		font-size: em(22)
//
//(PHOTO-HINT) END



// PHOTO-DISCUSS
//
//
.photo-discuss
	flex: 0 0 100%
	justify-content: space-between
	padding: 28px 57px 50px
	+border-radius(0 0 8px 8px)

.photo-discuss-l
	+flex-c
	width: 70%

.photo-discuss-comment-group,
.photo-discuss-comment-sect
	+flex-c

.photo-discuss-comment-sect
	.photo-discuss-comment-sect
		margin: 0 0 0 20px

.photo-discuss-comment-title
	margin: 0 0 11px 48px

.photo-discuss-comment
	+flex
	align-items: flex-start
	justify-content: flex-start
	position: relative
	margin: 0 0 10px

	.form-group
		&:before
			+flex
			z-index: -1
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			margin: -16px 4px -16px -60px

	&.typeForm
		margin: 20px 0 30px

		.form-group
			&:before
				content: ''

		.btn-group
			display: none

	&.typeGray,
	&.typeWhite
		.btn-group
			+flex

	&.typeGray
		.form-group
			&:before
				background-color: $clr-gray97

	&.typeWhite
		.form-group
			&:before
				background-color: $clr-invert

.photo-discuss-comment-message
	+flex-c
	flex: 1 1 0%
	max-width: 85%
	margin: 0 0 0 13px

.photo-discuss-comment-author
	align-self: flex-start
	// BECAUSE OF «ITEMACTIVE» PSEUDO
	z-index: 0
	margin: 8px 0 0
	font-size: em(13)

.photo-discuss-comment-info
	z-index: 0
	align-items: baseline
	// BECAUSE OF «ITEMACTIVE» PSEUDO
	height: 22px
	+clr-gray70

.photo-discuss-comment-date
	font-size: em(14)

.photo-discuss-comment-counter
	align-self: flex-start
	position: relative
	margin: 35px 0 0 20px
	text-align: right
	font-weight: $weight-medium
	+clr-green
	cursor: pointer

	&.typeError
		+clr-red

.photo-discuss-comment-loadMore
	align-self: flex-start
	margin: 25px 0 50px 50px

.photo-discuss-info-title,
.photo-discuss-comment-title
	align-items: center
	position: relative
	line-height: 16px
	text-align: left
	font-size: em(14)
	+clr-gray50

.photo-discuss-info-title
	margin: 0 0 8px 0

	&.typeBlack
		margin: 0 0 6px 0
		color: $clr-base

	&.typeCount
		margin: 8px 0 0

.photo-discuss-r
	+flex-c
	width: 200px

.photo-discuss-info
	+flex-c
	align-items: flex-start
	margin: 0 0 25px 0

	a
		+word-w

.photo-discuss-info-count
	line-height: 24px
	font-size: em(32)
	font-weight: $weight-light

.photo-discuss-info-cup
	+flex-w
	// BECAUSE OF IE
	max-width: 100%
	position: relative
	margin: 0 0 -5px -5px

.photo-discuss-info-tag
	+flex-w
	// BECAUSE OF IE
	max-width: 100%
	margin: 0 0 5px

.photo-discuss-info-tag-i
	line-height: 23px
	margin-right: 6px
	+textCrop
	font-size: em(16)

.photo-discuss-info-tag-link
	line-height: 23px
	font-size: em(14)
//
// PHOTO-DISCUSS___MIX
//
.photo-discuss-comment
	&:hover,
	&.typeParent
		.widget-voting
			+opacity(1)
//
//
//(PHOTO-DISCUSS) END