// [PHOTO-CARDBIG-PANE]___MODIFIER
//
.photo-cardBig-pane
	&.-sectProfile
		flex-grow: 1
		height: 70px
		margin: 0 -20px
		border: none
//
//([PHOTO-CARDBIG-PANE]___MODIFIER) END



// [PHOTO-DISCUSS]___MODIFIER
//
.photo-discuss
	&.-sectProfile
		background: none
//
//([PHOTO-DISCUSS]___MODIFIER) END