// POPOVER___COMMON
//
.popover,
.popover-scroll-wrap,
.popover-scroll,
.popover-content,
.popover-title,
.popover-content-hint,
.popover-content-preview
	+flex
//
//(POPOVER___COMMON) END



// POPOVER
//
//
.popover
	+flex-c
	align-self: flex-start
	z-index: 999
	position: absolute
	// BECAUSE OF TRIANGLE HEIGHT
	margin: 10px
	padding: 15px
	text-align: left
	+border-radius(4px)
	border: 1px solid $clr-gray80
	+box-shadow(rgba($clr-base, 0.4) 0 4px 18px 0)
	background-color: $clr-invert
	cursor: default

	&-scroll-wrap
		overflow-x: hidden
		overflow-y: auto
		margin: 0 -15px
		padding: 0 15px

	&-scroll
		+flex-c
		flex: 1 0 auto
		height: 100%
		// BECAUSE OF CONTENT OVERFLOW WRAP
		max-width: 100%

	&-content
		+flex-c
		align-items: center

		&:after,
		&:before
			position: absolute
			margin: auto

		&:after
			top: 0
			bottom: 0
			width: 10px
			height: 100%

		&:before
			right: 0
			left: 0
			width: 100%
			height: 10px

	&-title
		margin: 0 0 5px
		font-size: em(14)
		+clr-gray70

	&-content-hint
		line-height: 16px
		padding: 5px 10px
		text-align: center
		font-size: em(14)
		+clr-gray50

	&-content-preview
		+flex-c
		align-items: center
//
// POPOVER___ADD
//
.popover
	&.size190
		width: 190px

	&.size200
		width: 200px

	&.size220
		width: 220px

	&.size240
		width: 240px

	&.size320
		width: 320px

	&.typeWide
		width: 100%

	&.itemPosT,
	&.itemPosTArr
		bottom: 100%

	&.itemPosR,
	&.itemPosRArr
		left: 100%

	&.itemPosB,
	&.itemPosBArr
		top: 100%

	&.itemPosL,
	&.itemPosLArr
		right: 100%

	&.itemPosT,
	&.itemPosB,
	&.itemPosTArr,
	&.itemPosBArr
		left: calc(50% - 10px)
		+transform(translateX(-50%))

	&.itemPosR,
	&.itemPosL,
	&.itemPosRArr,
	&.itemPosLArr
		top: calc(50% - 10px)
		+transform(translateY(-50%))

	&.itemPosTArr,
	&.itemPosRArr,
	&.itemPosBArr,
	&.itemPosLArr
		overflow: visible

		&:after
			z-index: 2

		&:before
			z-index: 1

		&:after,
		&:before
			+flex
			content: ''
			position: absolute
			width: 0
			height: 0
			margin: auto

	&.itemPosTArr,
	&.itemPosBArr
		&:after,
		&:before
			right: 0
			left: 0

	&.itemPosRArr,
	&.itemPosLArr
		&:after,
		&:before
			top: 0
			bottom: 0

	&.itemPosTArr
		&:after,
		&:before
			bottom: -11px
			border-top: 11px solid $clr-gray80
			border-right: 13px solid transparent
			border-left: 13px solid transparent

		&:after
			bottom: -10px
			border-top-color: $clr-invert

	&.itemPosRArr
		&:after,
		&:before
			left: -11px
			border-top: 13px solid transparent
			border-right: 11px solid $clr-gray80
			border-bottom: 13px solid transparent

		&:after
			left: -10px
			border-right-color: $clr-invert

	&.itemPosBArr
		&:after,
		&:before
			top: -11px
			border-right: 13px solid transparent
			border-bottom: 11px solid $clr-gray80
			border-left: 13px solid transparent

		&:after
			top: -10px
			border-bottom-color: $clr-invert

	&.itemPosLArr
		&:after,
		&:before
			right: -11px
			border-top: 13px solid transparent
			border-bottom: 13px solid transparent
			border-left: 11px solid $clr-gray80

		&:after
			right: -10px
			border-left-color: $clr-invert

	&.typeBlack
		padding: 5px 10px
		border-color: transparent
		background-color: $clr-gray-rbga-90

		&.itemPosTArr,
		&.itemPosRArr,
		&.itemPosBArr,
		&.itemPosLArr
			&:after
				content: none

		&.itemPosTArr
			&:before
				border-top: 10px solid $clr-gray-rbga-90
				border-right-width: 12px
				border-left-width: 12px

		&.itemPosRArr
			&:before
				border-top-width: 12px
				border-right: 10px solid $clr-gray-rbga-90
				border-bottom-width: 12px

		&.itemPosBArr
			&:before
				border-right-width: 12px
				border-bottom: 10px solid $clr-gray-rbga-90
				border-left-width: 12px

		&.itemPosLArr
			&:before
				border-top-width: 12px
				border-bottom-width: 12px
				border-left: 10px solid $clr-gray-rbga-90

.popover-scroll-wrap
	&.size136
		max-height: 136px

	&.size300
		max-height: 300px
		margin-bottom: 15px

.popover-content-hint
	&.typeError
		align-self: flex-start
		padding: 0 0 0 24px
		text-align: left
		font-size: em(16)
		font-weight: $weight-light

	&.itemDirL
		align-self: flex-start
//
// POPOVER___MIX
//
.popover
	&.itemPosT,
	&.itemPosB,
	&.itemPosTArr,
	&.itemPosBArr
		.popover-content
			&:before
				content: ''

		&.typeSlim
			.popover-content
				&:before
					height: 5px

	&.itemPosR,
	&.itemPosL,
	&.itemPosRArr,
	&.itemPosLArr
		.popover-content
			&:after
				content: ''

		&.typeSlim
			.popover-content
				&:after
					width: 5px

	&.itemPosT,
	&.itemPosTArr
		.popover-content
			&:before
				bottom: -11px

		&.typeSlim
			margin-bottom: 5px

			.popover-content
				&:before
					bottom: -6px

	&.itemPosR,
	&.itemPosRArr
		.popover-content
			&:after
				left: -11px

		&.typeSlim
			margin-left: 5px

			.popover-content
				&:after
					left: -6px

	&.itemPosB,
	&.itemPosBArr
		.popover-content
			&:before
				top: -11px

		&.typeSlim
			margin-top: 5px

			.popover-content
				&:before
					top: -6px

	&.itemPosL,
	&.itemPosLArr
		.popover-content
			&:after
				right: -11px

		&.typeSlim
			margin-right: 5px

			.popover-content
				&:after
					right: -6px

	.link-blue-f
		&.typeWithChild
			.popover
				display: none

			&:hover
				.popover
					+flex

					&.itemPosR
						+transform(translateY(0))

					&.size200
						&.itemPosR
							top: -28px

					&.size240
						&.itemPosR
							top: -38px

	&-content-hint
		.ic-status
			height: 14px
//
//
//(POPOVER) END