// REGION
//
.region
	&-header
		flex: 0 0 auto
		height: 100px
		background-color: $clr-wine

	&-content
		// BECAUSE OF INNER POPOVERS LAYER
		z-index: 0
		flex: 1 0 auto

	&-footer
		flex: 0 0 auto
//
//(REGION) END