// REG___COMMON
//
.reg-pane-title,
.reg-pane,
.reg-pane-type,
.reg-pane-type-title,
.reg-pane-type-name,
.reg-pane-type-desc,
.reg-pane-account-l,
.reg-pane-account,
.reg-map,
.reg-map-hint,
.reg-map-modal
	+flex

.reg-pane-type-card,
.reg-pane-title-value
	+flex-inline

.reg-title,
.reg-pane-account-name,
.reg-pane-account-role
	+textCropInline
//
//(REG___COMMON) END



// REG
//
//
.reg-title
	margin: 0 0 15px 0
	padding: 30px 0 0
	text-align: center
	font-size: em(32)
	font-weight: $weight-light
	+clr-gray80

.reg-pane-title,
.reg-pane
	width: 660px

.reg-pane
	+flex-c
	position: relative
	padding: 30px 40px
	margin: 0 0 30px
	+border-radius(12px)
	+box-shadow(rgba(0, 0, 0, 0.2) 0 2px 8px 0)
	border: 1px solid $clr-gray80
	background-color: $clr-invert

	&-title
		justify-content: center
		position: relative
		margin: 0 0 16px

		&-value
			padding: 0 80px
			text-align: center
			font-size: em(22)
			font-weight: $weight-light
			+clr-wine

	&-type
		justify-content: space-between
		position: relative
		height: 212px
		margin: 0 -10px
		border: 2px solid $clr-gray80
		+border-radius(8px)

		&:after
			+flex
			content: ''
			position: absolute
			height: 100%
			width: 2px
			top: 0
			right: 0
			bottom: 0
			left: 0
			margin: auto
			background-color: $clr-gray80

		&-card
			+flex-c
			align-items: center
			width: 50%
			padding: 14px
			border: 2px solid transparent
			cursor: pointer

			&:first-child
				+border-radius(8px 0 0 8px)

			&:last-child
				+border-radius(0 8px 8px 0)

		&-title
			margin: 0 0 24px
			font-size: em(16)
			font-weight: $weight-light
			+clr-gray50

		&-name
			line-height: 36px
			margin: 0 0 16px
			font-size: em(32)


		&-desc
			line-height: 18px
			padding: 0 30px
			text-align: center
			font-size: em(14)
			+clr-gray70

	&-account-l
		+flex-c
		min-height: 240px

	&-account
		align-items: center
		justify-content: space-between
		height: 44px
		margin: 0 0 10px
		padding: 0 25px 2px
		font-size: em(16)
		+border-radius(44px)
		border: 1px solid $clr-gray80
		+box-shadow(rgba(0, 0, 0, 0.18) 0 2px 6px 0)
		background-color: $clr-invert
		cursor: pointer

		&:hover
			border: 1px solid $clr-gray60

		&:nth-last-child(2)
			margin: 0 0 30px

		&-name
			max-width: 67%
			white-space: nowrap

		&-role
			max-width: 30%
			text-align: right
			+clr-gray70

.reg-map
	position: relative
	width: 100%
	height: 220px
	background-color: $clr-gray94

	&-hint
		align-items: center
		justify-content: center
		position: absolute
		right: 0
		bottom: 0
		left: 0
		height: 65px
		padding: 0 0 3px
		font-size: em(20)
		font-weight: $weight-light
		background-color: $clr-gray97
		+clr-gray70

	&-modal
		@extend .reg-map
		width: calc(100% + 60px)
		height: 460px
		margin: -25px -30px 20px
//
// REG___ADD
//
.reg-pane-type-card
	&.itemActive
		z-index: 2
		margin: -2px
		padding-top: 16px
		width: calc(50% + 3px)
		border-color: $clr-green
		cursor: default

		.reg-pane-type-name
			+clr-green
//
// REG___MIX
//
.reg-pane-title
	.widget-iconWithText-wrap
		position: absolute
		top: 0
		left: 0
		bottom: 0
		margin: auto

.reg-pane-account-l
	.widget-iconWithText-wrap
		align-self: center
//
//
//(REG) END



// REGISTRATION-STATUS
//
.reg-status
	height: 62px
	text-align: center

.reg-status-item
	display: inline-block
	vertical-align: top
	height: 62px
	width: 217px

.reg-status-value
	+flex
	align-items: center
	justify-content: center
	position: relative
	width: 62px
	height: 62px
	margin: 0 auto
	font-size: em(32)
	font-weight: $weight-light
	+border-radius(50%)
	background-size: 72px
	background-position: -5px -4px
	+clr-gray70

.reg-status-value-bg
	display: block
	width: 15px
	height: 47px
	line-height: 43px
	font-style: normal

.reg-status-wayL,
.reg-status-wayR
	position: relative
	top: -34px
	left: 143px
	width: 146px
	height: 6px
	+transition(background-color 0.6s ease-in-out)
	background-color: $clr-gray90

.reg-status-wayR
	left: -73px

.reg-status-way-dots
	content: ''
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0

.reg-status
	&.-step-1
		.ic-status
			display: none

		.reg-status-item
			&:first-child
				.reg-status-value
					background: $clr-wine
					+clr-invert

			.reg-status-wayL
				+background-image(linear-gradient(to left, $clr-wine, $clr-gray90 78px))

	&.-step-2
		.reg-status-item
			&:first-child
				.reg-status-value
					background: $clr-invert
					+clr-green

				.reg-status-value-bg
					display: none

			&:nth-child(2)
				.ic-status
					display: none

				.reg-status-value
					background: $clr-wine
					+clr-invert

			.reg-status-wayL
				+background-image(linear-gradient(to left, $clr-green, $clr-wine 78px))

			.reg-status-wayR
				+background-image(linear-gradient(to left, $clr-wine, $clr-gray90 78px))

	&.-step-3
		.reg-status-item
			&:first-child,
			&:nth-child(2)
				.reg-status-value-bg
					display: none

				.reg-status-value
					background: $clr-invert
					+clr-green

			&:last-child
				.reg-status-value
					background: $clr-wine
					+clr-invert

			.reg-status-wayL
				background-color: $clr-green

			.reg-status-wayR
				+background-image(linear-gradient(to left, $clr-green, $clr-wine 78px))
//
// REGISTRATION-STATUS END