// SIDEBAR___COMMON
//
.sidebar,
.sidebar-status,
.sidebar-switch,
.sidebar-title,
.sidebar-category,
.sidebar-manage,
.sidebar-doer,
.sidevar-review,
.sidebar-review-val,
.sidebar-btn
	+flex

.sidebar-wrap,
.sidebar-switch-value,
.sidebar-status-value
	+flex-inline

.sidebar-notice,
.sidebar-hint
	display: block
//
//(SIDEBAR___COMMON) END



// SIDEBAR
//
//
.sidebar-wrap
	flex: 1 1 0%
	+flex-w
	align-items: flex-start
	align-content: flex-start
	justify-content: center
	padding: 10px 0 35px

	& > li
		margin: 0 0 20px

		&:last-child
			margin-bottom: 0

.sidebar
	+flex-c
	padding: 20px
	+border-radius(8px)
	border: 1px solid $clr-gray80
	+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0)
	background-color: $clr-invert

	&-switch
		align-items: center
		align-content: center
		justify-content: space-between
		padding: 10px 20px

	&-switch-value
		margin: 0 15px 0 0
		+clr-gray70

	&-notice
		font-size: em(18)
		font-weight: $weight-light

	&-title
		margin: 0 0 6px

	&-category
		+flex-c
		margin: 0 0 15px

		&:last-child
			margin: 0

	&-manage
		+flex-c
		position: relative

	&-doer
		+flex-c
		align-items: flex-start

	&-hint
		margin: 0 0 10px
		font-size: em(14)
		+clr-gray50

	&-status
		align-items: center
		align-content: center
		margin: 0 -5px 12px

		&:last-child
			margin-bottom: 0

	&-status-value
		margin: 0 0 0 10px
		line-height: 16px
		font-size: em(14)

	&-review
		+flex-c
//
// SIDEBAR___ADD
//
.sidebar,
.sidebar-btn,
.sidebar-switch
	width: 220px

.sidebar-title
	&.itemNonActive,
	&.typeSeparator
		+clr-gray70

	&.typeSeparator
		position: relative
		padding: 18px 0 0

		&:before
			+flex
			content: ''
			position: absolute
			top: 0
			width: calc(100% + 20px)
			height: 2px
			margin: 0 -10px
			+opacity(0.5)
			background-color: $clr-gray90

.sidebar-doer
	&.typeDemo
		width: 100%
		height: 50px
		background: url("/img/cap/avatar/avatar—mask—02.svg") no-repeat

.sidebar-review-val
	&.typeDemo
		font-size: em(14)
		+clr-gray50
//
// SIDEBAR___MIX
//
.sidebar-wrap
	&.typeCleanState
		.sidebar-hint
			color: $clr-gray60

			& > *
				color: inherit
				cursor: default

		.sidebar-status-value,
		.sidebar-review-val
			width: 100%
			background: url("/img/cap/avatar/avatar—mask—02.svg") no-repeat

		.sidebar-status-value
			height: 8px

		.sidebar-review-val
			height: 30px
			margin: 15px 0 0

.sidebar-category
	.widget-iconFlexMP
		&.size18
			z-index: 1
			position: absolute
			left: 9px

.ic-status
	&:not(.itemNonSelected) ~ .sidebar-status-value
		font-weight: $weight-light
		color: $clr-gray70
//
// ADAPTIVE
//
@media screen and (min-width: 1280px)
	.sidebar,
	.sidebar-btn,
	.sidebar-switch
		width: 260px
//
//
//(SIDEBAR) END