// TB___MOD
//
.tb
	&.-subSectActionlog
		min-height: 520px

		.tb-row
			min-height: 40px

		.tb-cell
			&:not(:nth-child(1))
				+tb-right

			&:nth-child(1)
				+tb-left
				flex: 0 0 315px

			&:nth-child(2)
				flex: 0 0 130px
				+textCropInline
				white-space: nowrap

			&:nth-child(2),
			&:nth-child(3)
				font-size: em(14)

				&:not(a)
					+clr-gray70

	&.-subSectRating
		min-height: 636px

		.tb-row
			min-height: 90px

		.tb-cell
			&:nth-child(1)
				+tb-left
				overflow: hidden
				flex: 0 0 125px
				max-height: 75px

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4)
				font-size: em(22)

			&:nth-child(5)
				font-size: em(14)


	&.-sectStat,
	&.-sectStatCar,
	&.-sectBalance
		.tb-cell
			&.typeShort
				flex: 0 0 105px

			&.typeLong
				flex-grow: 1.5

		.tb-row
			min-height: 80px
			padding: 10px 25px

	&.-sectStat
		.tb-cell
			&:not(:nth-child(1))
				font-size: em(18)

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
				+tb-left

	&.-sectStatCar
		.tb-cell
			&:not(:nth-child(2))
				font-size: em(18)

			&:not(:nth-child(5))
				+tb-left

			&:nth-child(1)
				+textCropInline

	&.-sectBalance
		.tb-cell
			font-size: em(18)

			&:nth-child(1)
				+tb-left

			&:nth-child(2),
			&:nth-child(3)
				+tb-right
				flex: 0 0 180px

			&:nth-child(3)
				font-weight: $weight-medium
				+clr-green

				&.typeRed
					color: $clr-red
//
//(TB___MOD) END