// TB___COMMON
//
.tb,
.tb-row
	+flex

.tb-cell
	+flex-inline

=tb-left
	justify-content: flex-start
	text-align: left

=tb-right
	justify-content: flex-end
	text-align: right
//
//(TB___COMMON) END



// TB
//
//
.tb
	+flex-c
	flex: 0 0 auto // NOT «flex-basis: 100%» CAUSE OF SAFARI COLLAPSING
	width: 100% // OR «align-self: stretch»

	&-row
		flex-shrink: 0
		padding: 10px 5px

		&:not(:first-child)
			+box-shadow(inset 0 1px 0 0 $clr-gray90)

	&-cell
		flex: 1 0 0%
		align-items: center
		align-content: center
		justify-content: center
		overflow: hidden
		position: relative
		// CAUSE OF ITEM CENTERING
		line-height: 100%
		margin: auto
		//(CAUSE OF ITEM CENTERING) END
		padding: 0 5px
		text-align: center

	&-title
		min-height: 65px !important
		padding: 15px 5px
//
// TB___ADD
//
.tb-cell
	&.itemNonActive
		font-weight: $weight-light
		+clr-gray50
//
// TB___MIX
//
.tb-title
	.tb-cell
		font-size: em(14) !important
		+clr-gray50

.modal-title + .tb
	overflow-y: scroll
	width: calc(100% + 30px)
	margin: -25px -30px 0 0
	padding: 0 30px 0 0
//
//
//(TB) END