// UI-ERRORTAG___COMMON
//
.ui-errorTag
	+flex-inline
//
//(UI-ERRORTAG___COMMON) END



// UI-ERRORTAG
//
//
.ui-errorTag
	// FF TEXT CENTERING
	align-items: center
	padding-bottom: 2px
	// FF TEXT CENTERING
	position: absolute
	top: 0
	bottom: 0
	height: 24px
	margin: auto 15px
	white-space: nowrap
	font-size: em(14)
	background-color: $clr-red
	+clr-invert
	cursor: default

	&:after,
	&:before
		+flex
		position: absolute
		top: 0
		width: 0
		height: 0
		border-top: 12px solid transparent
		border-bottom: 12px solid transparent
//
// UI-ERRORTAG___ADD
//
.ui-errorTag
	&.itemPosLArr
		right: 100%
		padding-right: 9px
		padding-left: 16px
		+border-radius(20px 0 3px 20px)

		&:after
			content: ''
			right: -11px
			border-left: 11px solid $clr-red

	&.itemPosRArr
		left: 100%
		padding-left: 9px
		padding-right: 16px
		+border-radius(0 20px 20px 0)

		&:before
			content: ''
			left: -11px
			border-right: 11px solid $clr-red
//
//
//(ERRORTAG) END