// ICONPLUS___MODIFIER
//
.widget-newIconMP
	&.size14
		width: 14px
		height: 14px
		margin: 5px 4px 0 0
		+opacity(0.3)
		background-size: 34px
		background-position: -10px -10px

	&.size20
		width: 20px
		height: 20px
		background-size: 45px
		background-position: -13px -13px

		&.-sectAlbum-manage
			margin-right: 9px
			width: 35px
			height: 25px
			+border-radius(12px)
			background-position: -5px -100px

.link-green
	&.-sectAlbum-manage
		.widget-newIconMP
			background-color: $clr-green

		&.typeNonActive
			+clr-gray70

			.widget-newIconMP
				background-color: $clr-gray90

		&:hover
			+clr-green75

			.widget-newIconMP
				background-color: $clr-green75

.link-gray
	.widget-newIconMP
		&.size20
			background-position: -13px -58px
//
//(ICONPLUS___MODIFIER) END



// ICONWASTEBASKET___MODIFIER
//
.widget-iconWastebasket
	&.size14
		position: absolute
		width: 14px
		height: 18px
		margin-top: -1px
		background-size: 16px
		background-position: -1px -1px

		&:hover
			background-position: -1px -21px

		&.-sectRegistration
			top: 19px
			right: 9px

.album-addItem-stream
	&.-sectAlbum-addItem
		overflow: hidden
		height: 40px
		margin: 0 -30px -30px
		+border-radius(0 0 8px 8px)
//
//(ICONWASTEBASKET___MODIFIER) END



// [ICONDOWNLOAD___MODIFIER]
//
.widget-iconDownload
	&.size18
		width: 18px
		height: 20px
		background-size: cover

.widget-iconWithText-wrap
	&.link-blue
		.widget-iconDownload
			&.size18
				background-position: 0px -43px
//
//([ICONDOWNLOAD___MODIFIER]) END



// ICONHELP___MODIFIER
//
.widget-iconHelp
	&.size15
		width: 15px
		height: 16px
		margin: 0 0 0 5px
		background-size: 17px
		background-position: -1px -1px

		&:hover
			background-position: -1px -18px
//
//(ICONHELP___MODIFIER) END



// FORMSELECT___MODIFIER
//
.widget-formSelect
	&.-formSelectTelephone
		margin-left: 25px

.form-controls
	&:hover
		.widget-formSelect
			&.-formSelectTelephone
				background-position: -1px -11px
//
// FORMSELECT___MODIFIER



// ICONSHARE___MODIFIER
//
.widget-iconShare
	&.size25
		width: 25px
		height: 20px
		background-size: cover
		background-position: 0px 0px

.widget-iconWithText-wrap
	&.link-blue
		.widget-iconShare
			&.size25
				background-position: 0px -99px

				& + .widget-iconWithText-value
					padding-bottom: 2px
//
//(ICONSHARE___MODIFIER) END



// LIKE___MODIFIER
//
.widget-iconLike
	&.size20
		position: absolute
		right: -5px
		bottom: -5px
		width: 20px
		height: 20px
		+border-radius(50%)
		border: 2px solid $clr-invert
		background-size: cover
		background-color: $clr-invert
		background-position: 0px -25px !important
//
//(LIKE___MODIFIER) END



// ICONRESIZE___MODIFIER
//
.widget-iconResize
	&.size16
		width: 16px
		height: 16px
		background-size: cover
		background-position: 0px -32px
//
//(ICONRESIZE___MODIFIER) END



// ICONPLAY___MODIFIER
//
.album-gallery-preview
	.widget-iconPlay
		display: none

	&.typeVideo
		.widget-iconPlay
			display: inherit

.album-card-img-wrap
	.widget-iconPlay
		top: auto
		right: 10px
		bottom: 10px
		left: auto
//
//(ICONPLAY___MODIFIER) END



// ICONWTEXT-WRAP___MODIFIER
//
.widget-iconWithText-wrap
	&.-sectAlbum-addItem
		cursor: default

		.widget-iconWithText
			+opacity(0.2)
			cursor: default

		&:hover
			.widget-iconWithText
				+opacity(0.2)

		.widget-iconWithText-value
			+clr-gray90
//
//(ICONWTEXT-WRAP___MODIFIER) END



// ICONREVIEW___MODIFIER
//
.widget-iconReview
	&.size20
		z-index: 1
		position: absolute
		left: 9px
		width: 20px
		height: 22px
		background-size: cover
		background-position: 0px -44px
//
//(ICONREVIEW___MODIFIER) END



// ICONRING___MODIFIER
//
.widget-iconRing
	cursor: default

	&.size24
		position: absolute
		right: 2px
		bottom: 2px
		width: 24px
		height: 18px
		background-position: 0px 0px

	&.size52
		width: 52px
		height: 30px
		margin-right: 5px
		background-position: 0px -114px

.album-cover-i
	&:hover
		.widget-iconRing
			&.size24
				background-position: 0px -51px
//
//(ICONRING___MODIFIER) END



// CUP___MODIFIER
//
.widget-cup
	&.size28
		height: 26px
		margin: 10px 5px 0 0
		padding: 0 0 0 33px

		.widget-iconCup
			width: 28px
			height: 26px
			background-size: 28px
			background-position: 0px 0px

		.widget-cup-title
			line-height: 11px
			font-size: em(14)

		.widget-cup-date
			line-height: 20px
			font-size: em(12)
//
//(CUP___MODIFIER) END



// VOTING___MODIFIER
//
.widget-iconVoting
	&.size22
		width: 22px
		height: 22px
		margin: 0 0 0 6px
		background-size: 22px
		background-position: 0px 0px

		&:nth-child(2)
			top: 4px

		&:hover,
		&:active
			+opacity(1)
			background-position: 0px -22px

		&.itemActive
			+opacity(0.7)
			background-position: 0px -22px

			&:hover,
			&:active
				+opacity(1)

			&:active
				background-position: 0px 0px

		&.itemNonActive
			&:hover
				background-position: 0px 0px
//
//(VOTING___MODIFIER) END



// LOADER___MODIFIER
//
.widget-loader-wrap
	&.size17,
	&.size40
		+vhAlignAbs

	&.size17
		.widget-loader
			width: 17px
			height: 24px
			background-size: 21px
			background-position: -2px -2px

		&.typeVinous
			right: 0
			left: auto
			background-color: rgba($clr-invert, 0.8)

			.widget-loader
				background-position: -2px -30px

			&.-sectAlbum
				top: 21px

	&.size40
		// BECAUSE OF MEDIA LOADER
		z-index: 100

		.widget-loader
			width: 40px
			height: 57px
			background-size: 50px
			background-position: -5px -5px

		&.typeGray
			.widget-loader
				background-position: -5px -138px

		&.typeVinous
			.widget-loader
				background-position: -5px -71px

.btn-small,
.btn-big,
.btn-base,
.btn-small
	.widget-loader-wrap
		&.size17
			+vAlignAbs
			left: 15px

.btn-small
	&.typeBlank
		.widget-loader-wrap
			&.size17
				+vhAlignAbs
//
//(LOADER___MODIFIER) END



// LOADER___MODIFIER
//
.widget-loaderNEW-wrap
	&.size17
		.widget-loaderNEW
			width: 17px
			height: 24px
			background-size: 21px
			background-position: -2px -2px

		&.typeVinous
			margin-right: 0

			.widget-loaderNEW
				background-position: -2px -30px

	&.size40
		.widget-loaderNEW
			width: 38px
			height: 54px
			background-size: 48px
			background-position: -5px -5px

		&.typeGray
			.widget-loaderNEW
				background-position: -5px -133px

		&.typeVinous
			.widget-loaderNEW
				background-position: -5px -69px

.btn-big,
.btn-base,
.btn-small
	.widget-loaderNEW-wrap
		z-index: auto

	.btn-value + .widget-loaderNEW-wrap
		position: absolute
		top: 0
		bottom: 0

.btn-big
	.btn-value + .widget-loaderNEW-wrap
		&.size17
			left: 20px

.widget-filter
	.widget-loaderNEW-wrap
		&.size17
			position: absolute
			top: 0
			right: -25px
			bottom: 0
//
//(LOADERNEW___MODIFIER) END



// SOCIAL___MODIFIER
//
.widget-social
	&.size20
		width: 20px
		height: 20px
		background-size: 24px
		background-position: 0px 0px

		&.typeSocialVK
			background-position: -2px -1px

			&:hover
				background-position: -2px -45px

		&.typeSocialFB
			background-position: -2px -22px

			&:hover
				background-position: -2px -66px
//
//(SOCIAL___MODIFIER) END



// [iconPC, iconSTAR, iconGLOBE, iconMEDIA, iconVIDEO, iconPENCIL, iconTELEPHONE]___MODIFIER
//
.widget-iconPC,
.widget-iconPencil
	&.size19
		width: 19px
		height: 19px
		background-size: 23px
		background-position: -2px -2px

.widget-iconGlobe
	&.size20
		width: 20px
		height: 20px
		background-size: 120%
		background-position: -2px -2px

.widget-iconVideo
	&.size20
		width: 20px
		height: 16px
		background-size: 24px
		background-position: -2px -2px

.widget-iconStar
	&.size20
		width: 20px
		height: 20px
		background-size: cover
		background-position: 0px -1px

.widget-iconMessage
	&.size22
		width: 22px
		height: 20px
		background-size: cover

.widget-iconWithText-wrap
	&.link-blue
		.widget-iconMessage
			&.size22
				background-position: 0px -42px

	&.link-gray
		.widget-iconMessage
			&.size22
				background-position: 0px 0px

.widget-iconMedia
	&.size20
		width: 20px
		height: 16px
		background-size: 24px
		background-position: -2px -4px

.link-gray
	.widget-iconPC
		background-position: -2px -24px

	.widget-iconVideo
		background-position: -2px -22px

.widget-iconWithText-wrap
	&.itemActive
		font-weight: $weight-medium

		.widget-iconMedia
			&.size20
				background-position: -2px -52px
//
//([iconPC, iconSTAR, iconGLOBE, iconMEDIA, iconVIDEO, iconPENCIL, iconTELEPHONE]___MODIFIER) END



// [iconWithText-group]___MODIFIER
//
.widget-iconWithText-group
	&.-sectGallery-strip
		margin: 5px 0 0 67px
//
//([iconWithText-group]___MODIFIER) END



// [iconFlexMP]___MODIFIER
//
.widget-iconFlexMP
	&.size18
		width: 18px
		height: 18px
		background-size: cover
		background-position: 0px 0px

.btn-small
	&.btn-sky-f,
	&.btn-red-f,
	&.btn-green-f
		.widget-iconFlexMP
			&.size18
				+opacity(0.6)

	&.btn-sky-f
		.widget-iconFlexMP
			&.size18
				background-position: 0px -18px

	&:hover
		.widget-iconFlexMP
			&.size18
				+opacity(1)
//
//([iconFlexMP]___MODIFIER) END



// [WIDGET-ICONBAG]___MODIFIER
//
.widget-iconBag
	&.size22
		width: 22px
		height: 22px

.widget-iconWithText-wrap
	&.link-blue
		.widget-iconBag
			&.size22
				background-position: 0px -104px
//
//([WIDGET-ICONBAG]___MODIFIER) END



// [WIDGET-ICONLIKENEW]___MODIFIER
//
.widget-iconLikeNEW
	&.size20,
	&.size22
		background-size: cover

	&.size20
		width: 20px
		height: 18px

	&.size22
		width: 22px
		height: 18px

.widget-iconWithText-wrap
	&.link-hover
		.widget-iconLikeNEW
			&.size20
				background-position: 0px -33px

	&.link-blue
		.widget-iconLikeNEW
			&.size20
				background-position: 0px -16px

	&.link-gray
		.widget-iconLikeNEW
			&.size22
				background-position: 0px 0px
//
//([WIDGET-ICONLIKENEW]___MODIFIER) END



// [WIDGET-ICONTELEPHONE]___MODIFIER
//
.widget-iconTelephone
	&.size22
		width: 22px
		height: 22px

.widget-iconWithText-wrap
	&.link-blue
		.widget-iconTelephone
			&.size22
				background-position: 0px -110px

.btn-sky-f
	.widget-iconTelephone
		&.size22
			+opacity(0.6)
			background-position: 0px -44px

	&:hover
		.widget-iconTelephone
			&.size22
				+opacity(1)
//
//([WIDGET-ICONTELEPHONE]___MODIFIER) END



// [ICONSEARCH___MODIFIER]
//
.widget-iconSearch
	&.size16
		align-self: center
		position: absolute
		right: 9px
		width: 16px
		height: 16px
		background-position: 0px 0px

.form-input-small:focus + .widget-iconSearch
	&.size16
		background-position: 0px -32px
//
//([ICONSEARCH___MODIFIER]) END