.widget-flag-wrap
	z-index: 2
	display: block
	position: absolute
	top: 1px
	left: 1px
	height: 38px
	padding-left: 13px
	+border-radius(7px 0 0 7px)
	cursor: pointer

.widget-flag
	+vAlignAbs
	width: 16px
	height: 11px
	background-size: 16px
	background-repeat: no-repeat
	background-image: url('/img/form/flag.png')

.widget-flag-val,
.widget-flag-code
	display: inline-block
	position: relative
	vertical-align: top

.widget-flag-val
	max-width: 325px
	margin: 0 7px 0 0
	+textCrop
	display: inline-block
	white-space: nowrap

.widget-flag-code
	+clr-gray70

	&.itemActive
		height: 30px
		margin: 4px 0 0 45px
		padding: 0 11px 0 0
		font-size: em(20)
		color: $clr-base

		&:after
			content: ''
			display: block
			position: absolute
			width: 1px
			height: 28px
			top: 1px
			right: 0
			background-color: $clr-gray80

.link-blue-f-wrap
	.widget-flag
		display: inline-block
		position: relative
		top: 6px
		margin: 0 8px 0 -11px

.form-controls
	&:hover
		.widget-flag-code
			&.active
				&:after
					background-color: $clr-gray60

.widget-flag[data-iso='AB']
	background-position: 0px 0px

.widget-flag[data-iso='AU']
	background-position: 0px -11px

.widget-flag[data-iso='AT']
	background-position: 0px -22px

.widget-flag[data-iso='AZ']
	background-position: 0px -33px

.widget-flag[data-iso='AL']
	background-position: 0px -44px

.widget-flag[data-iso='DZ']
	background-position: 0px -55px

.widget-flag[data-iso='AS']
	background-position: 0px -66px

.widget-flag[data-iso='AI']
	background-position: 0px -77px

.widget-flag[data-iso='AO']
	background-position: 0px -88px

.widget-flag[data-iso='AD']
	background-position: 0px -99px

.widget-flag[data-iso='AQ']
	background-position: 0px -110px

.widget-flag[data-iso='AG']
	background-position: 0px -121px

.widget-flag[data-iso='AR']
	background-position: 0px -132px

.widget-flag[data-iso='AM']
	background-position: 0px -143px

.widget-flag[data-iso='AW']
	background-position: 0px -154px

.widget-flag[data-iso='AF']
	background-position: 0px -165px

.widget-flag[data-iso='BS']
	background-position: 0px -176px

.widget-flag[data-iso='BD']
	background-position: 0px -187px

.widget-flag[data-iso='BB']
	background-position: 0px -198px

.widget-flag[data-iso='BH']
	background-position: 0px -209px

.widget-flag[data-iso='BY']
	background-position: 0px -220px

.widget-flag[data-iso='BZ']
	background-position: 0px -231px

.widget-flag[data-iso='BE']
	background-position: 0px -242px

.widget-flag[data-iso='BJ']
	background-position: 0px -253px

.widget-flag[data-iso='BM']
	background-position: 0px -264px

.widget-flag[data-iso='BG']
	background-position: 0px -275px

.widget-flag[data-iso='BO']
	background-position: 0px -286px

.widget-flag[data-iso='BQ']
	background-position: 0px -297px

.widget-flag[data-iso='BA']
	background-position: 0px -308px

.widget-flag[data-iso='BW']
	background-position: 0px -319px

.widget-flag[data-iso='BR']
	background-position: 0px -330px

.widget-flag[data-iso='IO']
	background-position: 0px -341px

.widget-flag[data-iso='BN']
	background-position: 0px -352px

.widget-flag[data-iso='BF']
	background-position: 0px -363px

.widget-flag[data-iso='BI']
	background-position: 0px -374px

.widget-flag[data-iso='BT']
	background-position: 0px -385px

.widget-flag[data-iso='VU']
	background-position: 0px -396px

.widget-flag[data-iso='HU']
	background-position: 0px -407px

.widget-flag[data-iso='VE']
	background-position: 0px -418px

.widget-flag[data-iso='VG']
	background-position: 0px -429px

.widget-flag[data-iso='VI']
	background-position: 0px -440px

.widget-flag[data-iso='VN']
	background-position: 0px -451px

.widget-flag[data-iso='GA']
	background-position: 0px -462px

.widget-flag[data-iso='HT']
	background-position: 0px -473px

.widget-flag[data-iso='GY']
	background-position: 0px -484px

.widget-flag[data-iso='GM']
	background-position: 0px -495px

.widget-flag[data-iso='GH']
	background-position: 0px -506px

.widget-flag[data-iso='GP']
	background-position: 0px -517px

.widget-flag[data-iso='GT']
	background-position: 0px -528px

.widget-flag[data-iso='GN']
	background-position: 0px -539px

.widget-flag[data-iso='GW']
	background-position: 0px -550px

.widget-flag[data-iso='DE']
	background-position: 0px -561px

.widget-flag[data-iso='GG']
	background-position: 0px -572px

.widget-flag[data-iso='GI']
	background-position: 0px -583px

.widget-flag[data-iso='HN']
	background-position: 0px -594px

.widget-flag[data-iso='HK']
	background-position: 0px -605px

.widget-flag[data-iso='GD']
	background-position: 0px -616px

.widget-flag[data-iso='GL']
	background-position: 0px -627px

.widget-flag[data-iso='GR']
	background-position: 0px -638px

.widget-flag[data-iso='GE']
	background-position: 0px -649px

.widget-flag[data-iso='GU']
	background-position: 0px -660px

.widget-flag[data-iso='DK']
	background-position: 0px -671px

.widget-flag[data-iso='JE']
	background-position: 0px -682px

.widget-flag[data-iso='DJ']
	background-position: 0px -693px

.widget-flag[data-iso='DM']
	background-position: 0px -704px

.widget-flag[data-iso='DO']
	background-position: 0px -715px

.widget-flag[data-iso='EG']
	background-position: 0px -726px

.widget-flag[data-iso='ZM']
	background-position: 0px -737px

.widget-flag[data-iso='EH']
	background-position: 0px -748px

.widget-flag[data-iso='ZW']
	background-position: 0px -759px

.widget-flag[data-iso='IL']
	background-position: 0px -770px

.widget-flag[data-iso='IN']
	background-position: 0px -781px

.widget-flag[data-iso='ID']
	background-position: 0px -792px

.widget-flag[data-iso='JO']
	background-position: 0px -803px

.widget-flag[data-iso='IQ']
	background-position: 0px -814px

.widget-flag[data-iso='IR']
	background-position: 0px -825px

.widget-flag[data-iso='IE']
	background-position: 0px -836px

.widget-flag[data-iso='IS']
	background-position: 0px -847px

.widget-flag[data-iso='ES']
	background-position: 0px -858px

.widget-flag[data-iso='IT']
	background-position: 0px -869px

.widget-flag[data-iso='YE']
	background-position: 0px -880px

.widget-flag[data-iso='CV']
	background-position: 0px -891px

.widget-flag[data-iso='KZ']
	background-position: 0px -902px

.widget-flag[data-iso='KH']
	background-position: 0px -913px

.widget-flag[data-iso='CM']
	background-position: 0px -924px

.widget-flag[data-iso='CA']
	background-position: 0px -935px

.widget-flag[data-iso='QA']
	background-position: 0px -946px

.widget-flag[data-iso='KE']
	background-position: 0px -957px

.widget-flag[data-iso='CY']
	background-position: 0px -968px

.widget-flag[data-iso='KG']
	background-position: 0px -979px

.widget-flag[data-iso='KI']
	background-position: 0px -990px

.widget-flag[data-iso='CN']
	background-position: 0px -1001px

.widget-flag[data-iso='CC']
	background-position: 0px -1012px

.widget-flag[data-iso='CO']
	background-position: 0px -1023px

.widget-flag[data-iso='KM']
	background-position: 0px -1034px

.widget-flag[data-iso='CG']
	background-position: 0px -1045px

.widget-flag[data-iso='CD']
	background-position: 0px -1056px

.widget-flag[data-iso='KP']
	background-position: 0px -1067px

.widget-flag[data-iso='KR']
	background-position: 0px -1078px

.widget-flag[data-iso='CR']
	background-position: 0px -1089px

.widget-flag[data-iso='CI']
	background-position: 0px -1100px

.widget-flag[data-iso='CU']
	background-position: 0px -1111px

.widget-flag[data-iso='KW']
	background-position: 0px -1122px

.widget-flag[data-iso='CW']
	background-position: 0px -1133px

.widget-flag[data-iso='LA']
	background-position: 0px -1144px

.widget-flag[data-iso='LV']
	background-position: 0px -1155px

.widget-flag[data-iso='LS']
	background-position: 0px -1166px

.widget-flag[data-iso='LB']
	background-position: 0px -1177px

.widget-flag[data-iso='LY']
	background-position: 0px -1188px

.widget-flag[data-iso='LR']
	background-position: 0px -1199px

.widget-flag[data-iso='LI']
	background-position: 0px -1210px

.widget-flag[data-iso='LT']
	background-position: 0px -1221px

.widget-flag[data-iso='LU']
	background-position: 0px -1232px

.widget-flag[data-iso='MU']
	background-position: 0px -1243px

.widget-flag[data-iso='MR']
	background-position: 0px -1254px

.widget-flag[data-iso='MG']
	background-position: 0px -1265px

.widget-flag[data-iso='YT']
	background-position: 0px -1276px

.widget-flag[data-iso='MO']
	background-position: 0px -1287px

.widget-flag[data-iso='MW']
	background-position: 0px -1298px

.widget-flag[data-iso='MY']
	background-position: 0px -1309px

.widget-flag[data-iso='ML']
	background-position: 0px -1320px

.widget-flag[data-iso='UM']
	background-position: 0px -1331px

.widget-flag[data-iso='MV']
	background-position: 0px -1342px

.widget-flag[data-iso='MT']
	background-position: 0px -1353px

.widget-flag[data-iso='MA']
	background-position: 0px -1364px

.widget-flag[data-iso='MQ']
	background-position: 0px -1375px

.widget-flag[data-iso='MH']
	background-position: 0px -1386px

.widget-flag[data-iso='MX']
	background-position: 0px -1397px

.widget-flag[data-iso='FM']
	background-position: 0px -1408px

.widget-flag[data-iso='MZ']
	background-position: 0px -1419px

.widget-flag[data-iso='MD']
	background-position: 0px -1430px

.widget-flag[data-iso='MC']
	background-position: 0px -1441px

.widget-flag[data-iso='MN']
	background-position: 0px -1452px

.widget-flag[data-iso='MS']
	background-position: 0px -1463px

.widget-flag[data-iso='MM']
	background-position: 0px -1474px

.widget-flag[data-iso='NA']
	background-position: 0px -1485px

.widget-flag[data-iso='NR']
	background-position: 0px -1496px

.widget-flag[data-iso='NP']
	background-position: 0px -1507px

.widget-flag[data-iso='NE']
	background-position: 0px -1518px

.widget-flag[data-iso='NG']
	background-position: 0px -1529px

.widget-flag[data-iso='NL']
	background-position: 0px -1540px

.widget-flag[data-iso='NI']
	background-position: 0px -1551px

.widget-flag[data-iso='NU']
	background-position: 0px -1562px

.widget-flag[data-iso='NZ']
	background-position: 0px -1573px

.widget-flag[data-iso='NC']
	background-position: 0px -1584px

.widget-flag[data-iso='NO']
	background-position: 0px -1595px

.widget-flag[data-iso='AE']
	background-position: 0px -1606px

.widget-flag[data-iso='OM']
	background-position: 0px -1617px

.widget-flag[data-iso='BV']
	background-position: 0px -1628px

.widget-flag[data-iso='IM']
	background-position: 0px -1639px

.widget-flag[data-iso='NF']
	background-position: 0px -1650px

.widget-flag[data-iso='CX']
	background-position: 0px -1661px

.widget-flag[data-iso='HM']
	background-position: 0px -1672px

.widget-flag[data-iso='KY']
	background-position: 0px -1683px

.widget-flag[data-iso='CK']
	background-position: 0px -1694px

.widget-flag[data-iso='TC']
	background-position: 0px -1705px

.widget-flag[data-iso='PK']
	background-position: 0px -1716px

.widget-flag[data-iso='PW']
	background-position: 0px -1727px

.widget-flag[data-iso='PS']
	background-position: 0px -1738px

.widget-flag[data-iso='PA']
	background-position: 0px -1749px

.widget-flag[data-iso='VA']
	background-position: 0px -1760px

.widget-flag[data-iso='PG']
	background-position: 0px -1771px

.widget-flag[data-iso='PY']
	background-position: 0px -1782px

.widget-flag[data-iso='PE']
	background-position: 0px -1793px

.widget-flag[data-iso='PN']
	background-position: 0px -1804px

.widget-flag[data-iso='PL']
	background-position: 0px -1815px

.widget-flag[data-iso='PT']
	background-position: 0px -1826px

.widget-flag[data-iso='PR']
	background-position: 0px -1837px

.widget-flag[data-iso='MK']
	background-position: 0px -1848px

.widget-flag[data-iso='RE']
	background-position: 0px -1859px

.widget-flag[data-iso='RU']
	background-position: 0px -1870px

.widget-flag[data-iso='RW']
	background-position: 0px -1881px

.widget-flag[data-iso='RO']
	background-position: 0px -1892px

.widget-flag[data-iso='WS']
	background-position: 0px -1903px

.widget-flag[data-iso='SM']
	background-position: 0px -1914px

.widget-flag[data-iso='ST']
	background-position: 0px -1925px

.widget-flag[data-iso='SA']
	background-position: 0px -1936px

.widget-flag[data-iso='SZ']
	background-position: 0px -1947px

.widget-flag[data-iso='SH']
	background-position: 0px -1958px

.widget-flag[data-iso='MP']
	background-position: 0px -1969px

.widget-flag[data-iso='BL']
	background-position: 0px -1980px

.widget-flag[data-iso='MF']
	background-position: 0px -1991px

.widget-flag[data-iso='SN']
	background-position: 0px -2002px

.widget-flag[data-iso='VC']
	background-position: 0px -2013px

.widget-flag[data-iso='KN']
	background-position: 0px -2024px

.widget-flag[data-iso='LC']
	background-position: 0px -2035px

.widget-flag[data-iso='PM']
	background-position: 0px -2046px

.widget-flag[data-iso='RS']
	background-position: 0px -2057px

.widget-flag[data-iso='SC']
	background-position: 0px -2068px

.widget-flag[data-iso='SG']
	background-position: 0px -2079px

.widget-flag[data-iso='SX']
	background-position: 0px -2090px

.widget-flag[data-iso='SY']
	background-position: 0px -2101px

.widget-flag[data-iso='SK']
	background-position: 0px -2112px

.widget-flag[data-iso='SI']
	background-position: 0px -2123px

.widget-flag[data-iso='GB']
	background-position: 0px -2134px

.widget-flag[data-iso='US']
	background-position: 0px -2145px

.widget-flag[data-iso='SB']
	background-position: 0px -2156px

.widget-flag[data-iso='SO']
	background-position: 0px -2167px

.widget-flag[data-iso='SD']
	background-position: 0px -2178px

.widget-flag[data-iso='SR']
	background-position: 0px -2189px

.widget-flag[data-iso='SL']
	background-position: 0px -2200px

.widget-flag[data-iso='TJ']
	background-position: 0px -2211px

.widget-flag[data-iso='TH']
	background-position: 0px -2222px

.widget-flag[data-iso='TW']
	background-position: 0px -2233px

.widget-flag[data-iso='TZ']
	background-position: 0px -2244px

.widget-flag[data-iso='TL']
	background-position: 0px -2255px

.widget-flag[data-iso='TG']
	background-position: 0px -2266px

.widget-flag[data-iso='TK']
	background-position: 0px -2277px

.widget-flag[data-iso='TO']
	background-position: 0px -2288px

.widget-flag[data-iso='TT']
	background-position: 0px -2299px

.widget-flag[data-iso='TV']
	background-position: 0px -2310px

.widget-flag[data-iso='TN']
	background-position: 0px -2321px

.widget-flag[data-iso='TM']
	background-position: 0px -2332px

.widget-flag[data-iso='TR']
	background-position: 0px -2343px

.widget-flag[data-iso='UG']
	background-position: 0px -2354px

.widget-flag[data-iso='UZ']
	background-position: 0px -2365px

.widget-flag[data-iso='UA']
	background-position: 0px -2376px

.widget-flag[data-iso='WF']
	background-position: 0px -2387px

.widget-flag[data-iso='UY']
	background-position: 0px -2398px

.widget-flag[data-iso='FO']
	background-position: 0px -2409px

.widget-flag[data-iso='FJ']
	background-position: 0px -2420px

.widget-flag[data-iso='PH']
	background-position: 0px -2431px

.widget-flag[data-iso='FI']
	background-position: 0px -2442px

.widget-flag[data-iso='FK']
	background-position: 0px -2453px

.widget-flag[data-iso='FR']
	background-position: 0px -2464px

.widget-flag[data-iso='GF']
	background-position: 0px -2475px

.widget-flag[data-iso='PF']
	background-position: 0px -2486px

.widget-flag[data-iso='TF']
	background-position: 0px -2497px

.widget-flag[data-iso='HR']
	background-position: 0px -2508px

.widget-flag[data-iso='CF']
	background-position: 0px -2519px

.widget-flag[data-iso='TD']
	background-position: 0px -2530px

.widget-flag[data-iso='ME']
	background-position: 0px -2541px

.widget-flag[data-iso='CZ']
	background-position: 0px -2552px

.widget-flag[data-iso='CL']
	background-position: 0px -2563px

.widget-flag[data-iso='CH']
	background-position: 0px -2574px

.widget-flag[data-iso='SE']
	background-position: 0px -2585px

.widget-flag[data-iso='SJ']
	background-position: 0px -2596px

.widget-flag[data-iso='LK']
	background-position: 0px -2607px

.widget-flag[data-iso='EC']
	background-position: 0px -2618px

.widget-flag[data-iso='GQ']
	background-position: 0px -2629px

.widget-flag[data-iso='AX']
	background-position: 0px -2640px

.widget-flag[data-iso='SV']
	background-position: 0px -2651px

.widget-flag[data-iso='ER']
	background-position: 0px -2662px

.widget-flag[data-iso='EE']
	background-position: 0px -2673px

.widget-flag[data-iso='ET']
	background-position: 0px -2684px

.widget-flag[data-iso='ZA']
	background-position: 0px -2695px

.widget-flag[data-iso='GS']
	background-position: 0px -2706px

.widget-flag[data-iso='OS']
	background-position: 0px -2717px

.widget-flag[data-iso='SS']
	background-position: 0px -2728px

.widget-flag[data-iso='JM']
	background-position: 0px -2739px

.widget-flag[data-iso='JP']
	background-position: 0px -2750px