// FILTER
//
.widget-filter
	z-index: 1
	+flex
	justify-content: center
	margin: 60px 0 -30px
	font-size: em(20)
	font-weight: $weight-light
	+clr-gray50

.widget-filter-value
	margin: 0 5px 0 0

.widget-filter-arrow
	position: relative
	margin: 0 -18px 0 0

	&:after
		+flex
		align-self: center
		content: ''
		width: 0
		height: 0
		margin: 4px 0 0
		+opacity(0.4)
		border-top: 7px solid $clr-blue75
		border-right: 7px solid transparent
		border-left: 7px solid transparent

	&:hover
		&:after
			+opacity(1)

.widget-filter
	&.typeDemo
		z-index: 0
		+filter(grayscale(100%))

		& > *
			+clr-gray50
//
// (FILTER) END



// COUNTLABEL
//
.widget-countLabel
	display: inline-block
	position: absolute
	right: 5px
	min-width: 32px
	line-height: 22px
	padding: 0 8px
	text-align: center
	font-size: em(15)
	font-weight: $weight-medium
	+border-radius(22px)
	background-color: $clr-green94
	+clr-invert
//
// (COUNTLABEL) END



// ICONPLUS
//
.widget-iconPlus
	display: inline-block
	position: relative
	vertical-align: top

.widget-newIconMP
	display: inline-block
	position: relative
	//** FF & WK HACK **//
	vertical-align: top
	cursor: pointer
//
// (ICONPLUS) END



// FORMSELECT
//
.widget-formSelect
	+vAlignAbs
	z-index: 1
	width: 15px
	height: 7px
	background-size: 17px
	background-position: -1px -1px

.form-select
	.widget-formSelect
		right: 6px

	&:hover
		.widget-formSelect
			background-position: -1px -11px
//
// (FORMSELECT) END



// ICONVALUE
//
.widget-iconWithText-group,
.widget-iconWithText-wrap
	+flex-inline

.widget-iconWithText-group
	+flex-w
	align-items: center
	position: relative

	.widget-iconWithText-wrap
		&:not(:first-child)
			margin-left: 15px

	&.typeColumn
		+flex-c
		align-items: flex-start

		.widget-iconWithText-wrap
			margin-left: 0 !important

			&:not(:last-child)
				margin-bottom: 13px

.widget-iconWithText-wrap
	align-items: center
	position: relative

.widget-iconWithText
	+opacity(0.4)

.widget-iconWithText-value
	position: relative
	line-height: 100%

	&.itemPosTArr,
	&.itemPosBArr
		&:after
			content: ''
			display: block
			position: absolute
			left: 50%
			+transform(translateX(-50%))
			width: 0
			height: 0
			margin: auto

	&.itemPosTArr
		&:after
			top: -12px
			border-top: 11px solid $clr-gray-rbga-90
			border-right: 13px solid transparent
			border-left: 13px solid transparent

	&.itemPosBArr
		&:after
			bottom: -12px
			border-right: 13px solid transparent
			border-bottom: 11px solid $clr-gray-rbga-90
			border-left: 13px solid transparent

.widget-iconWithText-wrap
	&:hover > *:not(.form-input-upload)
		+opacity(1)

	&.link-hover
		.widget-iconWithText
			+opacity(1)

	&.typeBig
		font-size: em(18)

.widget-iconWithText-group
	&.itemNonActive
		&:after
			+flex
			z-index: 1
			content: ''
			position: absolute
			top: -2px
			right: -2px
			bottom: -2px
			left: -2px
			cursor: default

.widget-iconWithText-wrap
	&:hover
		.widget-iconWithText-value
			&.itemByHover
				display: inherit

.btn-small
	&:hover
		.widget-iconWithText
			+opacity(1)

	.widget-iconWithText-value
		padding-bottom: 2px

	.btn-value + .widget-iconWithText-wrap
		margin-left: 4px

.widget-iconWithText-wrap
	&.itemActive
		.widget-iconWithText,
		.widget-iconWithText-value
			+opacity(1)

	&.itemNonFixed,
	&.itemNonTransparent
		.widget-iconWithText
			+opacity(1)

	&.itemNonFixed
		.widget-iconWithText-value
			+opacity(0)

		&:hover
			.widget-iconWithText-value
				+opacity(1)

.widget-iconWithText + .widget-iconWithText-value,
.widget-iconWithText-value + .widget-iconWithText
	margin-left: 4px
//
//(ICONVALUE) END



// ICONLIKE
//
.widget-iconLike
	z-index: 2
	display: inline-block
	cursor: pointer

.album-card:not(.typeWide)
	.album-card-content
		.widget-iconLike
			background-position: -1px -1px !important

		&:hover
			.widget-iconLike
				background-position: -1px -16px !important
//
//(ICONLIKE) END



// VOTEDIAGRAM
//
.widget-voteDiagram-wrap
	+flex-inline
	align-items: center
	line-height: 20px
	font-size: em(14)

.widget-voteDiagram
	overflow: hidden
	width: 60px
	height: 3px
	margin: 3px 0 0 10px
	+border-radius(3px)
	background-color: $clr-gold

.widget-voteDiagram-state
	display: inline-block
	position: relative
	height: 100%

	&.typeBad
		float: right
		width: 40%
		background-color: $clr-red

	&.typeGood
		float: left
		width: 40%
		background-color: $clr-green
//
//(VOTEDIAGRAM) END



// ICONMORE, ICONSEARCH, ICONWASTEBASKET
//
.widget-iconWastebasket
	+vAlignAbs
	cursor: pointer
//
//(ICONMORE, ICONSEARCH, ICONWASTEBASKET) END



// ICONHELP, ICONDOWNLOAD
//
.widget-iconWysiwygBold,
.widget-iconWysiwygItalic,
.widget-iconWysiwygListDot,
.widget-iconWysiwygListNum
	+vAlign
	display: inline-block
	cursor: pointer
//
//(ICONHELP, ICONDOWNLOAD) END



// WYSIWYG
//
.widget-wysiwyg
	display: block
	position: relative
	width: 100%
	height: 30px
	margin: 0 -3px
	border-right: 3px solid $clr-invert
	border-left: 3px solid $clr-invert
	background-color: $clr-gray97

.widget-iconWysiwygBold,
.widget-iconWysiwygItalic,
.widget-iconWysiwygListDot,
.widget-iconWysiwygListNum
	vertical-align: top
	width: 15px
	height: 12px
	margin: 0 7px
	background-size: 34px
	background-position: -10px -10px

	&.itemActive
		background-position: -10px -42px
//
//(WYSIWYG) END



// DATECARD
//
.widget-dateCard-title
	display: block
	position: relative
	line-height: 15px
	margin: 0 0 7px 23px
	font-size: em(14)
	+clr-gray60

.widget-dateCard
	overflow: hidden
	display: inline-block
	position: relative
	vertical-align: top
	width: 290px
	height: 100px
	margin: 0 8px 18px
	+border-radius(8px)
	+box-shadow(rgba($clr-base, 0.2) 0 2px 6px 0)
	border: 1px solid $clr-gray80

.widget-dateCard-day,
.widget-dateCard-date
	display: inline-block
	position: relative
	vertical-align: top
	height: 100%

.widget-dateCard-day
	font-size: em(43)
	margin-left: 15px

.widget-dateCard-date
	line-height: 50px
	margin: 0 5px 0 1px
	font-size: em(14)
	font-weight: $weight-light
	+clr-gray70
//
//(DATECARD) END



// ERRORTAG
//
.widget-errorTag-wrap
	//+flex-inline
	//align-items: center
	// IE FIX
	display: block
	//(IE FIX) END
	position: absolute
	height: 100%
	margin: 0 15px

.widget-errorTag
	display: block
	position: relative
	// IE FIX
	top: 50%
	+transform(translateY(-50%))
	//(IE FIX) END
	height: 24px
	line-height: 22px
	white-space: nowrap
	font-size: em(14)
	background-color: $clr-red
	+clr-invert

	&:after,
	&:before
		+flex
		position: absolute
		top: 0
		width: 0
		height: 0
		border-top: 12px solid transparent
		border-bottom: 12px solid transparent

.widget-errorTag-wrap
	&.itemPosLArr
		right: 100%

		.widget-errorTag
			+border-radius(20px 0 0 20px)
			padding: 0 9px 0 16px

			&:after
				content: ''
				right: -11px
				border-left: 11px solid $clr-red

	&.itemPosRArr
		left: 100%

		.widget-errorTag
			padding: 0 16px 0 9px
			+border-radius(0 20px 20px 0)

			&:before
				content: ''
				left: -11px
				border-right: 11px solid $clr-red
//
//(ERRORTAG) END



// CUP
//
.widget-cup
	display: inline-block
	position: relative
	vertical-align: top

.widget-iconCup
	display: block
	position: absolute
	top: 0
	left: 0

.widget-cup-date,
.widget-cup-title
	display: block
	position: relative

.widget-cup-title
	+clr-gold

.widget-cup-date
	+clr-gray50
//
//(CUP) END



// VOTING
//
.widget-voting,
.widget-voting-manage,
.widget-iconVoting
	+flex-inline
	align-items: center

.widget-voting
	+opacity(0)
	margin: 0 0 0 15px

.widget-voting-manage
	margin: 0 0 0 6px

.widget-iconVoting
	cursor: pointer
//
//(VOTING) END



// LOADER
//
.widget-loader-wrap
	z-index: 9999
	text-align: center

.widget-loader
	display: block
	position: relative
	width: 40px
	height: 56px
	margin: auto
	+animation(spin 0.7s infinite)
	+animation-play-state(running)
	background-size: 50px
	background-position: -5px -5px



.widget-loaderNEW-wrap
	+flex-inline
	align-items: center
	z-index: 9999

.widget-loaderNEW
	// BECAUSE OF MEDIA LOADER
	z-index: 100
	+animation(spin 0.7s infinite)
	+animation-play-state(running)
	background-position: -5px -5px
//
//(LOADER) END



// iconPC, iconBAG, iconHelp, widget-iconPlay, iconRing, iconStar, iconGlobe, iconMedia, iconShare, loaderNEW, iconVideo, iconFlexMP, iconPencil, widget-iconReview, widget-iconSearch, iconLikeNEW, iconMessage, iconDownload, iconTelephone, widget-iconWastebasketNEW
//
.widget-iconPC,
.widget-iconBag,
.widget-iconHelp,
.widget-iconPlay,
.widget-iconRing,
.widget-iconStar,
.widget-iconGlobe,
.widget-iconMedia,
.widget-iconShare,
.widget-loaderNEW,
.widget-iconVideo,
.widget-iconFlexMP,
.widget-iconPencil,
.widget-iconReview,
.widget-iconResize,
.widget-iconSearch,
.widget-iconLikeNEW,
.widget-iconMessage,
.widget-iconDownload,
.widget-iconTelephone,
.widget-iconWastebasketNEW
	+flex-inline
	flex-shrink: 0
	cursor: pointer

.widget-iconBag,
.widget-iconRing,
.widget-iconSearch,
.widget-iconTelephone
	background-size: cover

.widget-iconPlay
	position: absolute
	+opacity(0.8)
	// BECAUSE OF IE
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	//(BECAUSE OF IE) END

	&:hover
		+opacity(1)

	&.size36
		z-index: 1
		width: 36px
		height: 36px
		background-size: 36px

	&.size100
		z-index: 101
		width: 100px
		height: 100px
		background-size: 100px

.widget-iconWastebasketNEW
	&.size14
		align-items: center
		justify-content: center
		position: absolute
		display: none
		top: -3px
		right: -2px
		width: 14px
		height: 16px
		background-size: cover
		background-position: 0px -36px

		&:before
			+flex
			content: ''
			z-index: -1
			position: absolute
			// BECAUSE OF IE
			top: -5px
			right: -7px
			//(BECAUSE OF IE) END
			width: 28px
			height: 28px
			+border-radius(50%)
			background-color: $clr-wine

	&.size15
		width: 15px
		height: 20px
		background-size: 19px
		background-position: -2px -2px

		&:hover
			background-position: -2px -26px

.album-addItem-stream-i
	&:hover
		.widget-iconWastebasketNEW
			&.size14
				+flex-inline

		&.typeMove,
		&.itemNonActive
			.widget-iconWastebasketNEW
				&.size14
					display: none
//
//(iconPC, iconBAG, iconHelp, widget-iconPlay, iconRing, iconStar, iconGlobe, iconMedia, iconShare, loaderNEW, iconVideo, iconFlexMP, iconPencil, widget-iconReview, widget-iconSearch, iconLikeNEW, iconMessage, iconDownload, iconTelephone, widget-iconReview, widget-iconWastebasketNEW) END



// PAGING
//
//
.widget-paging-wrap,
.widget-paging,
.widget-paging-manage,
.widget-paging-link
	+flex

.widget-paging-l,
.widget-paging-i
	+flex-inline

.widget-paging-wrap
	+flex-c
	flex: 1 0 auto
	align-items: center
	align-content: center

.widget-paging
	padding: 35px 0 15px

.widget-paging-manage
	align-items: center
	justify-content: center

	&:not(.itemNonActive)
		+opacity(0.4)

		&:hover
			+opacity(1)

	&.itemNonActive > *
		cursor: default

.widget-paging-l,
.widget-paging-link
	align-items: center
	align-content: center

.widget-paging-l
	justify-content: space-between
	margin: 0 55px

.widget-paging-i
	width: 50px
	height: 44px
	margin: 0 5px

.widget-paging-link
	justify-content: center
	width: 100%
	height: 100%
	font-weight: $weight-medium
	border-top: 2px solid transparent
	border-bottom: 2px solid transparent

	&:hover
		border-bottom-color: $clr-blue

	&.typeBlank
		+clr-gray70

		&:hover
			border-bottom-color: transparent
			cursor: default

	&.itemActive
		+clr-wine
		border-bottom-color: $clr-wine

.widget-paging-counter
	display: inline-block
	font-size: em(14)
	+clr-gray60
//
// PAGING___MIX
//
.widget-paging-manage:not(.itemNonActive)
	.ic-arrow
		&.size12
			background-position: 0px -36px
//
//
//(PAGING) END


// LOGO
//
.widget-logo-wrap
	+flex
	+flex-c
	align-items: center
	justify-content: center
	height: 100%

.widget-logo
	width: 140px
	height: 56px
	background-size: 168px
	background-position: -14px -14px

	&.typeWhite
		background-position: -14px -98px
//
//(LOGO) END



// progressBar
//
.widget-progressLoading
	+flex
	left: 0
	width: 100%

	.bar
		display: block
		position: relative
		border-top: 3px solid $clr-wine
		border-bottom: 3px solid $clr-gray97
//
//(progressBar) END