// FONT
//
@font-face
	font-family: 'mp'
	src: url('./font/mp/light/light.woff') format('woff'), url('./font/mp/light/light.woff2') format('woff2')
	font-style: normal
	font-weight: 300

@font-face
	font-family: 'mp'
	src: url('./font/mp/light-it/light-it.woff') format('woff'), url('./font/mp/light-it/light-it.woff2') format('woff2')
	font-style: italic
	font-weight: 300

@font-face
	font-family: 'mp'
	src: url('./font/mp/it/it.woff') format('woff'), url('./font/mp/it/it.woff2') format('woff2')
	font-style: italic
	font-weight: 400

@font-face
	font-family: 'mp'
	src: url('./font/mp/regular/regular.woff') format('woff'), url('./font/mp/regular/regular.woff2') format('woff2')
	font-style: normal
	font-weight: 400

@font-face
	font-family: 'mp'
	src: url('./font/mp/medium/medium.woff') format('woff'), url('./font/mp/medium/medium.woff2') format('woff2')
	font-style: normal
	font-weight: 600

@font-face
	font-family: 'mp'
	src: url('./font/mp/medium-it/medium-it.woff') format('woff'), url('./font/mp/medium-it/medium-it.woff2') format('woff2')
	font-style: italic
	font-weight: 600
//
//(FONT) END



// FONT
//
.font-test-300,
.font-test-400,
.font-test-600,
.font-test-300-it,
.font-test-400-it,
.font-test-600-it
	line-height: 25px !important
	font-family: 'mp' !important

.font-test-300
	font-weight: 300
	font-style: normal

.font-test-300-it
	font-weight: 300
	font-style: italic

.font-test-400
	font-weight: 400
	font-style: normal

.font-test-400-it
	font-weight: 400
	font-style: italic

.font-test-600
	font-weight: 600
	font-style: normal

.font-test-600-it
	font-weight: 600
	font-style: italic
//
//(FONT) END